extends ./../layout

block body
  if (errors)
    each error in errors
      include ./../common/warning


  main.register(role="main")
    .row
      .col-md-6.social-register
        h1.login-title 快速註冊
        .login-btn-block
          a.login-btn.btn.btn-default.btn-lg.btn-hollow(href="/auth/facebook" type="button")
            span.fa.fa-facebook-official.fa-lg
            span.btn-text-with-icon 使用 FACEBOOK 登入
        .login-btn-block
          a.login-btn.btn.btn-default.btn-lg.btn-hollow(href="/auth/paypal" type="button")
            span.fa.fa-paypal.fa-lg
            span.btn-text-with-icon 使用 PAYPAL 登入

      .col-md-6.site-register
        h1.login-title ZURU 帳號註冊
        form(role='form', action='/auth/local/register', method='post')
          .form-horizontal
            .form-group
              .col-md-6.col-md-offset-3
                input#identifier.form-control(type='email', name='email', placeholder='輸入 E-mail', required)
            .form-group
              .col-md-6.col-md-offset-3
                input#password.form-control(type='password', name='password', placeholder='密碼', required)
            .form-group
              .col-md-6.col-md-offset-3
                input#password_chk.form-control(type='password', name='password_chk', placeholder='密碼', required)
            .form-group
              .col-md-6.col-md-offset-3
                input#username.form-control(type='text', name='username', placeholder='帳號', required)
            .form-group
              .checkbox
                input(type='checkbox', name='agree', required)
                span 茲同意本網站之
                  a.link(href="") 網站使用條款
            .form-group
              button.btn.btn-default.btn.filled(type='submit') 立即註冊
    hr.divider
    .row(style='text-align:center')
      span 已經是會員？
        a.link(href="/login") 立即登入
