.col-sm-9.col-md-10
        h2.m-bottom-6 運費設定
        .well.control-well.p-30
          form.form-horizontal
            .row.row-m
              .col-md-4
                .form-group
                  label.col-md-5.control-label 運送方式
                  .col-md-7
                    select.form-control
                      option 宅配/郵局
                // /form-group
              // /col-md-4
              .col-md-3
                .form-group
                  label.col-md-5.control-label 地區
                  .col-md-7
                    input.form-control(type='text')
                // /form-group
              // /col-md-3
              .col-md-3
                .form-group
                  label.col-md-5.control-label 運費
                  .col-md-7
                    input.form-control(type='text')
                // /form-group
              // /col-md-3
              .col-md-2
                a.btn-remove(href='#', data-toggle='modal', data-target='#modal-delete')
                  span.glyphicon.glyphicon-remove
            // /row
            .row.row-m
              .col-md-4
                .form-group
                  label.col-md-5.control-label 運送方式
                  .col-md-7
                    select.form-control
                      option 宅配/郵局
                // /form-group
              // /col-md-4
              .col-md-3
                .form-group
                  label.col-md-5.control-label 地區
                  .col-md-7
                    input.form-control(type='text')
                // /form-group
              // /col-md-3
              .col-md-3
                .form-group
                  label.col-md-5.control-label 運費
                  .col-md-7
                    input.form-control(type='text')
                // /form-group
              // /col-md-3
              .col-md-2
                a.btn-remove(href='#', data-toggle='modal', data-target='#modal-delete')
                  span.glyphicon.glyphicon-remove
                a.btn-add(href='#')
                  span.glyphicon.glyphicon-plus
            // /row
        // /well
        .text-center.m-bottom-6
          a.btn.btn-green.btn-lg(href='#') 儲存
        // /text-center
      // /col-sm-9
    // /row
  // /container
  //
