doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    title i+DEAL &#x5275;&#x800C;&#x6709;&#x610F; | &#x597D;&#x7269;&#x6162;&#x6162;&#x9078;
    // Mobile device set
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Fav and touch icons
    link(rel='shortcut icon', href='images/ico/favicon.ico')
    // Style
    link(href='stylesheets/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
    | &#x9;
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    | &#x9;
    link(href='http://fonts.googleapis.com/css?family=PT+Serif:400,700', rel='stylesheet', type='text/css')
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      | &#x9;
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    | &#x9;
    script(src='javascripts/modernizr.custom.js')
  body
    .loader
    | &#x9;
    a#scrolltotop
      span.glyphicon.glyphicon-menu-up
    //
      Navbar
      ==================================================
    nav#header-default.navbar.navbar-default.navbar-fixed-top.cbp-af-header
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='.navmenu', data-canvas='body')
            span.icon-bar
            | &#x9;&#x9;&#x9;&#x9;
            span.icon-bar
            | &#x9;&#x9;&#x9;&#x9;
            span.icon-bar
          | &#x9;&#x9;&#x9;
          a.navbar-brand(href='index.html') i+Deal
        // /navbar-header
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right(aria-multiselectable='true')
            li
              a.width-11.text-center(data-toggle='collapse', aria-expanded='true', href='#dropdown-menu-brands')
                span.text-en BRANDS
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x54C1;&#x724C;&#x4ECB;&#x7D39;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              #dropdown-menu-brands.dropdown-menu-full.collapse
                .container.p-top-4.p-bottom-4
                  //
                    dropdown-menu-brands
                    ==================================================
                  .clearfix.m-bottom-2.text-left
                    h4.text-gray-darker.m-bottom-4 &#x4EE3;&#x7406;&#x54C1;&#x724C;
                    | &#x9;
                    ul.list-inline.list-brand
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-1.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-2.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-3.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-4.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-5.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-6.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-7.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-8.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-9.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-10.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-11.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-12.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-13.jpg')
                  // /clearfix
                  .clearfix.m-bottom-2
                    h4.text-gray-darker.m-bottom-4 &#x7CBE;&#x9078;&#x54C1;&#x724C;
                    | &#x9;
                    ul.list-inline.list-brand
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-1.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-2.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-3.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-4.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-5.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-6.jpg')
                      | &#x9;&#x9;
                      li
                        a(href='brands.html')
                          img.border-block-1.img-full(src='images/demo/brands-logo-7.jpg')
                  // /clearfix
                // /container
              // /dropdown-menu
            | &#x9;&#x9;&#x9;&#x9;
            li
              a.width-10.text-center(href='http://blog.iplusdeal.com/')
                span.text-en BLOG
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x751F;&#x6D3B;&#x8A8C;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a.width-10.text-center(href='shop.html')
                span.text-en SHOP
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x7DDA;&#x4E0A;&#x8CFC;&#x7269;
            | &#x9;&#x9;&#x9;&#x9;
            li.dropdown
              a.dropdown-toggle.width-11.text-center(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                span.text-en ACCOUNT
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x6703;&#x54E1;&#x4E2D;&#x5FC3;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              ul.dropdown-menu.dropdown-menu-right.dropdown-menu-noborder
                li
                  a(href='member-fav.html') &#x6211;&#x7684;&#x6536;&#x85CF;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='member-purchase.html') &#x6211;&#x7684;&#x8A02;&#x55AE;&#x8A18;&#x9304;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='member-setting.html') &#x4FEE;&#x6539;&#x6703;&#x54E1;&#x8CC7;&#x6599;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.divider(role='separator')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#') &#x767B;&#x51FA;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a.width-12.text-center(href='#', data-toggle='modal', data-target='#modal-login')
                span.glyphicon.glyphicon-user.font-size-slarge
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-en LOGIN
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x767B;&#x5165;
            | &#x9;&#x9;&#x9;&#x9;
            li.dropdown.icon-link
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                span.glyphicon.glyphicon-shopping-cart.m-right-1.font-size-slarge
                span.text-green 5
              //
                dropdown-cart
                ==================================================
              ul.dropdown-menu.dropdown-menu-right.dropdown-cart
                .dropdown-cart-content
                  li
                    .row
                      .col-xs-4
                        .item-block
                          span.badge 3
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          img.img-full(src='images/demo/shop-item-5-1.jpg')
                        // /item-block
                      // /col-xs-4
                      .col-xs-8.p-left-0
                        h6.text-muted
                          a(href='brands.html') Le mouton noir &amp; co
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h5
                          a(href='shop-product.html') B.B.bank / BB&#x8C6C;
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h5 $490
                      // /col-xs-8
                    // /row
                  | &#x9;&#x9;
                  li
                    a(href='shop-product.html')
                      .row
                        .col-xs-4
                          .item-block
                            span.badge 1
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            img.img-full(src='images/demo/shop-item-6-1.jpg')
                          // /item-block
                        // /col-xs-4
                        .col-xs-8.p-left-0
                          h6.text-muted
                            a(href='brands.html') Jansen+co
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          h5
                            a(href='shop-product.html') My Mug Set &#x8ABF;&#x8272;&#x676F;&#x7D44;
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          h5 $490
                        // /col-xs-8
                      // /row
                  | &#x9;&#x9;
                  li
                    .row
                      .col-xs-6
                        h2.text-center.text-black.line-height-small.m-top-0.m-bottom-0
                          | $1,990
                          br
                          small.font-size-50 subtotal
                      // /col-xs-6
                      .col-xs-6
                        a.btn.btn-black.border-radius-circle.btn-block(href='cart.html') &#x7D50;&#x5E33;
                      // /col-xs-6
                    // /row
                // /dropdown-cart-content
              // /dropdown-cart
            | &#x9;&#x9;&#x9;&#x9;
            li.icon-link.m-right-0
              //
                search
                ==================================================
              #sb-search.sb-search
                form
                  input#search.sb-search-input.form-control(placeholder='Search for...', type='text', value='', name='search')
                  | &#x9;&#x9;
                  input.sb-search-submit(type='submit', value='')
                  |     
                  span.glyphicon.glyphicon-search.font-size-slarge
              // /sb-search
        // /navbar-collapse
      // /container
    // /navbar-fixed-top
    //
      navmenu-fixed-right
      ==================================================
    .navmenu.navmenu-default.navmenu-fixed-right.offcanvas
      a.navmenu-brand(href='index.html') i+Deal
      | &#x9;
      ul.nav.navmenu-nav.navmenu-nav-top
        li
          a(href='brands-list.html') BRANDS
        | &#x9;&#x9;
        li
          a(href='http://blog.iplusdeal.com/') BLOG
        | &#x9;&#x9;
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | SHOP
            span.glyphicon.glyphicon-chevron-down.m-left-1
          | &#x9;&#x9;&#x9;
          ul.dropdown-menu.navmenu-nav(role='menu')
            li
              a(href='shop.html') &#x65B0;&#x54C1;&#x4E0A;&#x5E02;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='shop.html') &#x5C45;&#x5BB6;&#x751F;&#x6D3B;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='shop.html') &#x9910;&#x5EDA;&#x98DF;&#x5668;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='shop.html') &#x4E8B;&#x52D9;&#x6587;&#x5177;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='shop.html') &#x6536;&#x7D0D;&#x6574;&#x7406;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='shop.html') &#x914D;&#x4EF6;&#x5C0F;&#x7269;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='shop.html') &#x6578;&#x4F4D;&#x79D1;&#x6280;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='shop.html') &#x5DE5;&#x85DD;&#x8077;&#x4EBA;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='shop.html') &#x7279;&#x5225;&#x4F01;&#x5283;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a.btn.btn-default(href='brands-list-shop.html') &#x54C1;&#x724C;&#x5217;&#x8868;
        | &#x9;&#x9;
        li
          a(href='login.html')
            span.glyphicon.glyphicon-user.m-right-1
            | LOGIN
        | &#x9;&#x9;
        li
          a(href='cart.html')
            span.glyphicon.glyphicon-shopping-cart.m-right-1
            span.text-green 5
        | &#x9;&#x9;
        li
          .input-group.m-bottom-2.m-top-2
            input.form-control(type='text', placeholder='Search for...')
            | &#x9;&#x9;&#x9;&#x9;
            span.input-group-btn
              a.btn.btn-default.p-left-2.p-right-2(href='search-result.html')
                span.glyphicon.glyphicon-search
          // /input-group
    // /navmenu-fixed-right
    //
      modal-login
      ==================================================
    #modal-login.modal.fade
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            | &#x9;&#x9;&#x9;&#x9;
            h1.modal-title.text-center &#x767B;&#x5165;
          // /modal-header
          .modal-body.text-center.p-30
            form.m-bottom-4
              .form-group
                input.form-control(type='email', placeholder='Email')
              // /form-group
              .form-group
                input.form-control(type='password', placeholder='Password')
              // /form-group
              button.btn.btn-black.border-radius-circle.btn-block.m-bottom-2(type='button', data-toggle='modal', data-target='#modal-login-feedback', data-dismiss='modal') &#x767B;&#x5165;&#x6703;&#x54E1;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              button.btn.btn-fb.border-radius-circle.btn-block(type='button', data-dismiss='modal') FACEBOOK &#x767B;&#x5165;
            | &#x9;&#x9;&#x9;&#x9;
            a(href='#', data-toggle='modal', data-target='#modal-password', data-dismiss='modal') &#x5FD8;&#x8A18;&#x5BC6;&#x78BC;
            | &#x9;&#x9;&#x9;&#x9;
            hr.m-top-4.m-bottom-4
            | &#x9;&#x9;&#x9;&#x9;
            h5.m-bottom-4 &#x9084;&#x6C92;&#x6709;&#x5E33;&#x865F;&#xFF1F;
            | &#x9;&#x9;&#x9;&#x9;
            a.btn.btn-line.border-radius-circle.btn-block(href='signup.html') &#x7533;&#x8ACB;&#x6703;&#x54E1;
          // /modal-body
        // /modal-content
      // /modal-dialog
    // /modal
    //
      modal-login-feedback
      ==================================================
    #modal-login-feedback.modal.fade
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            | &#x9;&#x9;&#x9;&#x9;
            h1.modal-title.text-center &#x767B;&#x5165;
          // /modal-header
          .modal-body.text-center.p-30
            form.m-bottom-4
              .form-group.has-success.has-feedback
                input.form-control(type='email', placeholder='Email')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
              // /form-group
              .form-group.has-error.has-feedback
                input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden='true')
              // /form-group
              button.btn.btn-black.border-radius-circle.btn-block.m-bottom-2(type='submit', data-dismiss='modal') &#x767B;&#x5165;&#x6703;&#x54E1;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              button.btn.btn-fb.border-radius-circle.btn-block(type='submit', data-dismiss='modal') FACEBOOK &#x767B;&#x5165;
            | &#x9;&#x9;&#x9;&#x9;
            a(href='#', data-toggle='modal', data-target='#modal-password', data-dismiss='modal') &#x5FD8;&#x8A18;&#x5BC6;&#x78BC;
            | &#x9;&#x9;&#x9;&#x9;
            hr.m-top-4.m-bottom-4
            | &#x9;&#x9;&#x9;&#x9;
            h5.m-bottom-4 &#x9084;&#x6C92;&#x6709;&#x5E33;&#x865F;&#xFF1F;
            | &#x9;&#x9;&#x9;&#x9;
            a.btn.btn-line.border-radius-circle.btn-block(href='signup.html') &#x7533;&#x8ACB;&#x6703;&#x54E1;
          // /modal-body
        // /modal-content
      // /modal-dialog
    // /modal
    //
      modal-password
      ==================================================
    #modal-password.modal.fade
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            | &#x9;&#x9;&#x9;&#x9;
            h1.modal-title.text-center &#x5FD8;&#x8A18;&#x5BC6;&#x78BC;
          // /modal-header
          .modal-body.text-center.p-30
            form.m-bottom-4
              .form-group
                input.form-control(type='email', placeholder='Email')
              // /form-group
              button.btn.btn-black.border-radius-circle.btn-block.m-bottom-2(type='button', data-dismiss='modal') &#x767C;&#x9001;&#x4FE1;&#x7BB1;
            | &#x9;&#x9;&#x9;&#x9;
            a(href='#', data-toggle='modal', data-target='#modal-login', data-dismiss='modal') &#x53D6;&#x6D88;
            | &#x9;&#x9;&#x9;&#x9;
            hr.m-top-4.m-bottom-4
            | &#x9;&#x9;&#x9;&#x9;
            h5.m-bottom-4 &#x9084;&#x6C92;&#x6709;&#x5E33;&#x865F;&#xFF1F;
            | &#x9;&#x9;&#x9;&#x9;
            a.btn.btn-line.border-radius-circle.btn-block(href='signup.html') &#x7533;&#x8ACB;&#x6703;&#x54E1;
          // /modal-body
        // /modal-content
      // /modal-dialog
    // /modal
    //
      Navbar
      ==================================================
    nav#header-control-panel.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            |         
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
          | &#x9;&#x9;&#x9;
          a.navbar-brand(href='control-index-slider.html') i+Deal
          | &#x9;&#x9;&#x9;
          h4.navbar-text.pull-left control panel
        // /navbar-header
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right(aria-multiselectable='true')
            li
              a.text-center(href='index.html') &#x767B;&#x51FA;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a.text-center(href='control-password.html') &#x4FEE;&#x6539;&#x5BC6;&#x78BC;
        // /navbar-collapse
      // /container
    // /navbar-fixed-top
    //
      index-carousel
      ==================================================
    #carousel-index.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carousel-index', data-slide-to='0')
        | &#x9;&#x9;
        li(data-target='#carousel-index', data-slide-to='1')
        | &#x9;&#x9;
        li(data-target='#carousel-index', data-slide-to='2')
        | &#x9;&#x9;
        li(data-target='#carousel-index', data-slide-to='3')
        | &#x9;&#x9;
        li(data-target='#carousel-index', data-slide-to='4')
        | &#x9;&#x9;
        li(data-target='#carousel-index', data-slide-to='5')
        | &#x9;&#x9;
        li(data-target='#carousel-index', data-slide-to='6')
        | &#x9;&#x9;
        li(data-target='#carousel-index', data-slide-to='7')
        | &#x9;&#x9;
        li(data-target='#carousel-index', data-slide-to='8')
      // /carousel-indicators
      .carousel-inner(role='listbox')
        a.item.active(href='#')
          img.img-full(src='images/demo/index-slider-1.jpg', alt='First slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-left.caption-top
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
        a.item(href='#')
          img.img-full(src='images/demo/index-slider-2.jpg', alt='Second slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-center.caption-top
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
        a.item(href='#')
          img.img-full(src='images/demo/index-slider-3.jpg', alt='Third slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-right.caption-top
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
        a.item(href='#')
          img.img-full(src='images/demo/index-slider-4.jpg', alt='Third slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-left.caption-bottom
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
        a.item(href='#')
          img.img-full(src='images/demo/index-slider-1.jpg', alt='First slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-center.caption-bottom
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
        a.item(href='#')
          img.img-full(src='images/demo/index-slider-2.jpg', alt='Second slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-right.caption-bottom
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
        a.item(href='#')
          img.img-full(src='images/demo/index-slider-3.jpg', alt='Second slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-left.caption-middle
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
        a.item(href='#')
          img.img-full(src='images/demo/index-slider-4.jpg', alt='Second slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-center.caption-middle
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
        a.item(href='#')
          img.img-full(src='images/demo/index-slider-1.jpg', alt='Second slide image')
          | &#x9;&#x9;&#x9;
          .carousel-caption.caption-right.caption-middle
            h1 labrador
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &#x54C1;&#x5473;&#x4F86;&#x81EA;&#x65BC;&#x751F;&#x6D3B;&#x4E8B;&#x7269;&#x7684;&#x63A8;&#x758A;
              br
              | &#x982D;&#x5C64;&#x771F;&#x76AE;&#x624B;&#x63D0;&#x888B; S
          // /carousel-caption
        // /item
      // /carousel-inner
      a.left.carousel-control(href='#carousel-index', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-thin-left(aria-hidden='true')
        | &#x9;&#x9;
        span.sr-only Previous
      // /carousel-control
      a.right.carousel-control(href='#carousel-index', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-thin-right(aria-hidden='true')
        | &#x9;&#x9;
        span.sr-only Next
      // /carousel-control
    // /carousel-index
    .container
      .page-header.text-center.text-uppercase
        h3
          | exclusives
          br
          | &#x7CBE;&#x9078;&#x6D3B;&#x52D5;
      // /page-header
      hr.hr-6.m-bottom-6
      | &#x9;
      .row.row-s
        .col-xs-12
          a(href='#')
            img.img-full.m-bottom-4(src='http://fakeimg.pl/1100x160/dddddd/FFF/?text=1100x160')
        // /col-xs-12
      // /row
      .row.row-s
        .col-xs-12
          a(href='#')
            img.img-full.m-bottom-4(src='http://fakeimg.pl/1100x350/dddddd/FFF/?text=1100x350')
        // /col-xs-12
      // /row
      .row.row-s
        .col-xs-6
          a(href='#')
            img.img-full.m-bottom-4(src='http://fakeimg.pl/545x350/dddddd/FFF/?text=545x350')
        // /col-xs-6
        .col-xs-6
          a(href='#')
            img.img-full.m-bottom-4(src='http://fakeimg.pl/545x350/dddddd/FFF/?text=545x350')
        // /col-xs-6
      // /row
      .row.row-s
        .col-xs-4
          a(href='#')
            img.img-full.m-bottom-4(src='http://fakeimg.pl/360x230/dddddd/FFF/?text=360x230')
        // /col-xs-4
        .col-xs-4
          a(href='#')
            img.img-full.m-bottom-4(src='http://fakeimg.pl/360x230/dddddd/FFF/?text=360x230')
        // /col-xs-4
        .col-xs-4
          a(href='#')
            img.img-full.m-bottom-4(src='http://fakeimg.pl/360x230/dddddd/FFF/?text=360x230')
        // /col-xs-4
      // /row
      .page-header.text-center.text-uppercase
        h3
          | limited time offer
          br
          | &#x9650;&#x6642;&#x9583;&#x8CFC; &#x7368;&#x5BB6;&#x5546;&#x54C1;
      // /page-header
      .row.m-bottom-8
        .col-md-4.col-sm-6
          a.item-block.m-bottom-6(href='shop-discount.html')
            img.img-full(src='images/demo/shop-item-1-2.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            .info-block
              .row.row-s
                .col-xs-8
                  h4
                    | GOODJOB
                    br
                    | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
                    br
                    | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
                // /col-xs-8
                .col-xs-4
                  h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
                // /col-xs-4
              // /row
            // /info-block
          // /item-block
        // /col-md-4
        .col-md-4.col-sm-6
          a.item-block.m-bottom-6(href='shop-discount.html')
            img.img-full(src='images/demo/shop-item-6-2.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            .info-block
              .row.row-s
                .col-xs-8
                  h4
                    | GOODJOB
                    br
                    | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
                    br
                    | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
                // /col-xs-8
                .col-xs-4
                  h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
                // /col-xs-4
              // /row
            // /info-block
          // /item-block
        // /col-md-4
        .col-md-4.col-sm-6
          a.item-block.m-bottom-6(href='shop-discount.html')
            img.img-full(src='images/demo/shop-item-8-1.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            .info-block
              .row.row-s
                .col-xs-8
                  h4
                    | GOODJOB
                    br
                    | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
                    br
                    | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
                // /col-xs-8
                .col-xs-4
                  h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
                // /col-xs-4
              // /row
            // /info-block
          // /item-block
        // /col-md-4
        .col-md-4.col-sm-6
          a.item-block.m-bottom-6(href='shop-discount.html')
            img.img-full(src='images/demo/shop-item-9-1.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            .info-block
              .row.row-s
                .col-xs-8
                  h4
                    | GOODJOB
                    br
                    | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
                    br
                    | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
                // /col-xs-8
                .col-xs-4
                  h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
                // /col-xs-4
              // /row
            // /info-block
          // /item-block
        // /col-md-4
        .col-md-4.col-sm-6
          a.item-block.m-bottom-6(href='shop-discount.html')
            img.img-full(src='images/demo/shop-item-10-1.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            .info-block
              .row.row-s
                .col-xs-8
                  h4
                    | GOODJOB
                    br
                    | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
                    br
                    | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
                // /col-xs-8
                .col-xs-4
                  h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
                // /col-xs-4
              // /row
            // /info-block
          // /item-block
        // /col-md-4
        .col-md-4.col-sm-6
          a.item-block.m-bottom-6(href='shop-discount.html')
            img.img-full(src='images/demo/shop-item-11-1.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            .info-block
              .row.row-s
                .col-xs-8
                  h4
                    | GOODJOB
                    br
                    | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
                    br
                    | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
                // /col-xs-8
                .col-xs-4
                  h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
                // /col-xs-4
              // /row
            // /info-block
          // /item-block
        // /col-md-4
      // /row
      .page-header.text-center.text-uppercase
        h3
          | a life story
          br
          | &#x751F;&#x6D3B;&#x8A8C;
      // /page-header
      .row.m-bottom-8
        .col-md-4.col-sm-6
          .m-bottom-8
            //
              blog-item-v
              ==================================================
            a(href='#')
              img.img-full.m-bottom-4(src='http://fakeimg.pl/600x400/dddddd/FFF/?text=600x400')
            h3.m-top-0.h3-two-hide
              a(href='#') &#x7AE5;&#x8A71;&#x822C;&#x7684;&#x5348;&#x8336;&#x6D3E;&#x5C0D;&#xFF0C;&#x5C31;&#x8B93;&#x96C0;&#x5152;&#x5B88;&#x8B77;&#x7F8E;&#x5473;&#x7684;&#x751C;&#x9EDE;
            h6.text-muted.m-bottom-4
              span.glyphicon.glyphicon-clock.m-right-1
              | 18 &#x516D;&#x6708;, 2015
              | &#x9;
              a(href='#')
                span.glyphicon.glyphicon-folder.m-right-1.m-left-2
                | +&#x8A2D;&#x8A08;
            p.m-bottom-3.slarge-max-three-hide.font-size-slarge
              | QUALY&#xFF0C;&#x4E00;&#x500B;&#x4F86;&#x81EA;&#x65B0;&#x4E9E;&#x6D32;&#x8A2D;&#x8A08;&#x4E2D;&#x5FC3;&#x7684;&#x65B0;&#x92B3;&#x8A2D;&#x8A08;&#x54C1;&#x724C;&#xFF0C;&#x6240;&#x6709;&#x7684;&#x7522;&#x54C1;&#x7686;&#x5728;&#x6CF0;&#x570B;&#x8A2D;&#x8A08;&#x3001;&#x88FD; &#x9020;&#xFF0C;&#x8C50;&#x5BCC;&#x7684;&#x5275;&#x610F;&#x8207;&#x9AD8;&#x54C1;&#x8CEA;&#x7684;&#x7522;&#x54C1;&#x5DF2;&#x7D93;&#x5728;&#x6B50;&#x3001;&#x7F8E;&#x3001;&#x65E5;&#x672C;&#x7B49;&#x5730;&#x5927;&#x53D7;&#x597D;&#x8A55;&#x3002;
            a.text-green.link-more(href='#')
              span.glyphicon.glyphicon-more.font-size-xlarge
              |  more
          // /m-bottom-8
        // /col-md-4
        .col-md-4.col-sm-6
          .m-bottom-8
            //
              blog-item-v
              ==================================================
            a(href='#')
              img.img-full.m-bottom-4(src='http://fakeimg.pl/600x400/dddddd/FFF/?text=600x400')
            h3.m-top-0.h3-two-hide
              a(href='#') &#x7AE5;&#x8A71;&#x822C;&#x7684;&#x5348;&#x8336;&#x6D3E;&#x5C0D;&#xFF0C;&#x5C31;&#x8B93;&#x96C0;&#x5152;&#x5B88;&#x8B77;&#x7F8E;&#x5473;&#x7684;&#x751C;&#x9EDE;
            h6.text-muted.m-bottom-4
              span.glyphicon.glyphicon-clock.m-right-1
              | 18 &#x516D;&#x6708;, 2015
              | &#x9;
              a(href='#')
                span.glyphicon.glyphicon-folder.m-right-1.m-left-2
                | +&#x8A2D;&#x8A08;
            p.m-bottom-3.slarge-max-three-hide.font-size-slarge
              | QUALY&#xFF0C;&#x4E00;&#x500B;&#x4F86;&#x81EA;&#x65B0;&#x4E9E;&#x6D32;&#x8A2D;&#x8A08;&#x4E2D;&#x5FC3;&#x7684;&#x65B0;&#x92B3;&#x8A2D;&#x8A08;&#x54C1;&#x724C;&#xFF0C;&#x6240;&#x6709;&#x7684;&#x7522;&#x54C1;&#x7686;&#x5728;&#x6CF0;&#x570B;&#x8A2D;&#x8A08;&#x3001;&#x88FD; &#x9020;&#xFF0C;&#x8C50;&#x5BCC;&#x7684;&#x5275;&#x610F;&#x8207;&#x9AD8;&#x54C1;&#x8CEA;&#x7684;&#x7522;&#x54C1;&#x5DF2;&#x7D93;&#x5728;&#x6B50;&#x3001;&#x7F8E;&#x3001;&#x65E5;&#x672C;&#x7B49;&#x5730;&#x5927;&#x53D7;&#x597D;&#x8A55;&#x3002;
            a.text-green.link-more(href='#')
              span.glyphicon.glyphicon-more.font-size-xlarge
              |  more
          // /m-bottom-8
        // /col-md-4
        .col-md-4.col-sm-6
          .m-bottom-8
            //
              blog-item-v
              ==================================================
            a(href='#')
              img.img-full.m-bottom-4(src='http://fakeimg.pl/600x400/dddddd/FFF/?text=600x400')
            h3.m-top-0.h3-two-hide
              a(href='#') &#x7AE5;&#x8A71;&#x822C;&#x7684;&#x5348;&#x8336;&#x6D3E;&#x5C0D;&#xFF0C;&#x5C31;&#x8B93;&#x96C0;&#x5152;&#x5B88;&#x8B77;&#x7F8E;&#x5473;&#x7684;&#x751C;&#x9EDE;
            h6.text-muted.m-bottom-4
              span.glyphicon.glyphicon-clock.m-right-1
              | 18 &#x516D;&#x6708;, 2015
              | &#x9;
              a(href='#')
                span.glyphicon.glyphicon-folder.m-right-1.m-left-2
                | +&#x8A2D;&#x8A08;
            p.m-bottom-3.slarge-max-three-hide.font-size-slarge
              | QUALY&#xFF0C;&#x4E00;&#x500B;&#x4F86;&#x81EA;&#x65B0;&#x4E9E;&#x6D32;&#x8A2D;&#x8A08;&#x4E2D;&#x5FC3;&#x7684;&#x65B0;&#x92B3;&#x8A2D;&#x8A08;&#x54C1;&#x724C;&#xFF0C;&#x6240;&#x6709;&#x7684;&#x7522;&#x54C1;&#x7686;&#x5728;&#x6CF0;&#x570B;&#x8A2D;&#x8A08;&#x3001;&#x88FD; &#x9020;&#xFF0C;&#x8C50;&#x5BCC;&#x7684;&#x5275;&#x610F;&#x8207;&#x9AD8;&#x54C1;&#x8CEA;&#x7684;&#x7522;&#x54C1;&#x5DF2;&#x7D93;&#x5728;&#x6B50;&#x3001;&#x7F8E;&#x3001;&#x65E5;&#x672C;&#x7B49;&#x5730;&#x5927;&#x53D7;&#x597D;&#x8A55;&#x3002;
            a.text-green.link-more(href='#')
              span.glyphicon.glyphicon-more.font-size-xlarge
              |  more
          // /m-bottom-8
        // /col-md-4
      // /row
      hr.hr-6.m-bottom-6
      | &#x9;
      .page-header.text-center.text-uppercase
        h3
          | theme of the month
          br
          | &#x672C;&#x6708;&#x4E3B;&#x984C; &#x8569;&#x6F3E;&#x5348;&#x8336;&#x6642;&#x5149;
      // /page-header
      .row.m-bottom-4
        .col-sm-4
          .row.row-m
            .col-xs-12
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-1-2.jpg')
            // /col-xs-12
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-16-1.jpg')
            // /col-xs-6
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-17-1.jpg')
            // /col-xs-6
          // /row
        // /col-sm-4
        .col-sm-4
          .row.row-m
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-15-1.jpg')
            // /col-xs-6
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-14-1.jpg')
            // /col-xs-6
            .col-xs-12
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-6-2.jpg')
            // /col-xs-12
          // /row
        // /col-sm-4
        .col-sm-4
          .row.row-m
            .col-xs-12
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-8-1.jpg')
            // /col-xs-12
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-9-1.jpg')
            // /col-xs-6
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-10-1.jpg')
            // /col-xs-6
          // /row
        // /col-sm-4
      // /row
      .row.m-bottom-4
        .col-sm-4
          .row.row-m
            .col-xs-12
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-23-1.jpg')
            // /col-xs-12
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-23-2.jpg')
            // /col-xs-6
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-23-3.jpg')
            // /col-xs-6
          // /row
        // /col-sm-4
        .col-sm-4
          .row.row-m
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-22-2.jpg')
            // /col-xs-6
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-22-3.jpg')
            // /col-xs-6
            .col-xs-12
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-22-1.jpg')
            // /col-xs-12
          // /row
        // /col-sm-4
        .col-sm-4
          .row.row-m
            .col-xs-12
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-21-1.jpg')
            // /col-xs-12
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-21-2.jpg')
            // /col-xs-6
            .col-xs-6
              a.link-border.m-bottom-4(href='#')
                img.img-full(src='images/demo/shop-item-21-3.jpg')
            // /col-xs-6
          // /row
        // /col-sm-4
      // /row
    // /container
    //
      Footer
      ==================================================
    .footer.text-center
      .container
        .border-top-1.border-bottom-1.p-top-9.p-bottom-9
          ul.list-inline.list-inline-lg.m-bottom-0
            li
              a(href='about.html')
                span.text-en ABOUT
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x95DC;&#x65BC;&#x6211;&#x5011;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='contact.html')
                span.text-en CONTACT
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x806F;&#x7D61;&#x6211;&#x5011;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='qa.html')
                span.text-en Q&amp;A
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x5E38;&#x898B;&#x554F;&#x984C;
        // /text-center
        .row.p-top-9.p-bottom-9
          .col-md-4.m-bottom-2
            ul.list-inline.list-social.m-bottom-0
              li
                a(href='http://www.facebook.com/iplusdeal', target='_blank')
                  span.label.label-social.label-fb
                    span.glyphicon.glyphicon-fb
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://www.instagram.com/iplusdeal', target='_blank')
                  span.label.label-social.label-ig
                    span.glyphicon.glyphicon-ig
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-line
                    span.glyphicon.glyphicon-line
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://www.youtube.com/channel/UCHjENeUVHem6yn0oO4Zpg6Q/feed', target='_blank')
                  span.label.label-social.label-youtube
                    span.glyphicon.glyphicon-youtube
            // /list-social
          // /col-md-4
          .col-md-8.font-size-small
            ul.list-inline.m-bottom-0.m-top-1
              li &copy; WEVO INTERNATIONAL CO.,LTD.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.border-right-1
                a(href='#') &#x4F7F;&#x7528;&#x689D;&#x6B3E;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.border-right-1
                a(href='#') &#x96B1;&#x79C1;&#x6B0A;&#x653F;&#x7B56;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') &#x514D;&#x8CAC;&#x8072;&#x660E;
          // /col-md-8
        // /row
      // /container
    // /footer
    // Javascripts
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    | &#x9;
    script(src='javascripts/scrolltotop.js')
    // /scrolltotop
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    | &#x9;
    script(src='javascripts/bootstrap.js')
    // /bootstrap
    script(src='javascripts/jasny-bootstrap.js')
    // /jasny-bootstrap
    script(src='javascripts/classie.js')
    | &#x9;
    script(src='javascripts/uisearch.js')
    | &#x9;
    script.
      new UISearch( document.getElementById( 'sb-search' ) );
    // /sb-search
    script(src='javascripts/input-number.js')
    // /input-number
    script(src='javascripts/tagsinput.js')
    | &#x9;
    script(src='javascripts/tagsinput-angular.js')
    // /tagsinput
    script(src='javascripts/cbpAnimatedHeader.js')
    // /cbpAnimatedHeader
    script(type='text/javascript', src='javascripts/notifyme.js')
    | &#x9;
    script(type='text/javascript').
      $(document).ready(function(){
      $('.add-to-cart').on('click', function(){
      $(this).notifyMe(
      'top',
      'cart',
      '<span class="glyphicon glyphicon-ok-circle m-right-2"></span>已加入購物車',
      '',
      300,
      1500
      );
      });
      });
    // /notifyme
    script(src='javascripts/cbpScroller.js')
    | &#x9;
    script.
      new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
    // /cbpScroller
    script(type='text/javascript').
      $(document).ready(function(){
      $('input[type="checkbox"]').click(function(){
      if($(this).attr("value")=="showhide-sent"){
      $(".showhide-sent").toggle();
      }
      if($(this).attr("value")=="showhide-invoice"){
      $(".showhide-invoice").toggle();
      }
      });
      });
    | &#x9;
    script(type='text/javascript').
      $(window).load(function() {
      $(".loader").fadeOut("slow");
      })
      $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      });
    | &#x9;
    script(type='text/javascript').
      function sticky_relocate() {
      var window_top = $(window).scrollTop();
      var div_top = $('#sticky-anchor').offset().top - $(window).width() /2;
      if (window_top > div_top) {
      $('#sticky').addClass('stick');
      } else {
      $('#sticky').removeClass('stick');
      }
      }
      $(function () {
      $(window).scroll(sticky_relocate);
      sticky_relocate();
      });
