// Navbar ==================================================
nav#header-control-panel.navbar.navbar-default.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        |         
        span.icon-bar
        |         
        span.icon-bar
        |         
        span.icon-bar
      | &#x9;&#x9;&#x9;
      a.navbar-brand(href='/')
      | &#x9;&#x9;&#x9;
      h4.navbar-text.pull-left 後台管理
    // /navbar-header
    // Collect the nav links, forms, and other content for toggling
    //- #bs-example-navbar-collapse-1.collapse.navbar-collapse
    //-   ul.nav.navbar-nav.navbar-right(aria-multiselectable='true')
    //-     li
    //-       a.text-center(href='index.html') 登出
    //-     | &#x9;&#x9;&#x9;&#x9;
    //-     li
    //-       a.text-center(href='control-password.html') 修改密碼
    // /navbar-collapse
  // /container
// /navbar-fixed-top