li.well.control-well.p-10-20.m-bottom-4.imageSection
  .row
    .col-sm-6
      span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1 
      input.weight(type='hidden', name='activities[0][weight]', value=0)
      input.topicTitle(type='hidden', name='activities[0][title]', value='')
    // /col-sm-6
    .col-sm-6.text-right
      a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
        span.glyphicon.glyphicon-remove
    // /col-sm-6
  // /row
  .row.m-bottom-4
    .col-sm-4
      .row.row-m
        .col-xs-12
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="1")
                img(src='', border=0, width=281.656, height=285.656)  
                input(type='hidden', name='activities[0][ImageA][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageA][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageA][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-12
        .col-xs-6
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="2")
                img(src='', border=0, width=130.828, height=134.828)  
                input(type='hidden', name='activities[0][ImageA1][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageA1][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageA1][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-6
        .col-xs-6
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="3")
                img(src='', border=0, width=130.828, height=134.828)  
                input(type='hidden', name='activities[0][ImageA2][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageA2][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageA2][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-6
      // /row
    // /col-sm-4
    .col-sm-4
      .row.row-m
        .col-xs-6
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="4")
                img(src='', border=0, width=130.828, height=134.828)  
                input(type='hidden', name='activities[0][ImageB1][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageB1][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageB1][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-6
        .col-xs-6
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="5")
                img(src='', border=0, width=130.828, height=134.828)  
                input(type='hidden', name='activities[0][ImageB2][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageB2][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageB2][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-6
        .col-xs-12
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="6")
                img(src='', border=0, width=281.656, height=285.656)  
                input(type='hidden', name='activities[0][ImageB][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageB][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageB][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-12
      // /row
    // /col-sm-4
    .col-sm-4
      .row.row-m
        .col-xs-12
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="7")
                img(src='', border=0, width=281.656, height=285.656)  
                input(type='hidden', name='activities[0][ImageC][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageC][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageC][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-12
        .col-xs-6
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="8")
                img(src='', border=0, width=130.828, height=134.828)  
                input(type='hidden', name='activities[0][ImageC1][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageC1][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageC1][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-6
        .col-xs-6
          .m-bottom-4
            //
              control-index-theme-block
              ==================================================
            .fileinput-square.bg-white.text-center.dashed-block-2
              a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="9")
                img(src='', border=0, width=130.828, height=134.828)  
                input(type='hidden', name='activities[0][ImageC2][path]', data-content="path")
                input(type='hidden', name='activities[0][ImageC2][url]', data-content="url")
                input(type='hidden', name='activities[0][ImageC2][openWindow]', data-content='openWindow')
                span.glyphicon.glyphicon-plus.font-size-xxxxlarge
            // /fileinput-square
          // m-bottom-4
        // /col-xs-6
      // /row
    // /col-sm-4
  // /row
