doctype html
html
  head
    title ec-platform

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(href="//eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
    link(href="//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css", rel="stylesheet")

    // Default home page
    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
    block styles

  body(ng-app="mainApp", ng-controller="mainCtrl")
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/bower/jquery/jquery.js")
    script(src="/js/app/app.js")
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
    script( src="//eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js" )
    script( src="//eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-TW.js" )
    script(src="//github.com/makeusabrew/bootbox/releases/download/v4.4.0/bootbox.js")
    // SCRIPTS END
    //- script(src="//localhost:9091")
    block scripts
