doctype html
html
  head
    title ec-platform

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(href="//eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css", rel="stylesheet")

    link(href="//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css", rel="stylesheet")

    // Default home page

    // STYLES
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/importer.css")
    // STYLES END
    block styles

  body(ng-app="mainApp", ng-controller="mainCtrl")
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/bower/moment/moment.js")
    script(src="/javascripts/plugin/bootstrap.js")
    script(src="/javascripts/admin/FAQ.js")
    script(src="/javascripts/admin/addPurchase.js")
    script(src="/javascripts/admin/brandCreate.js")
    script(src="/javascripts/admin/brandList.js")
    script(src="/javascripts/admin/controlAbout.js")
    script(src="/javascripts/admin/controlFAQAdd.js")
    script(src="/javascripts/admin/controlFAQType.js")
    script(src="/javascripts/admin/departmentList.js")
    script(src="/javascripts/admin/discount.js")
    script(src="/javascripts/admin/exclusive.js")
    script(src="/javascripts/admin/goodCreate.js")
    script(src="/javascripts/admin/goodList.js")
    script(src="/javascripts/admin/imageMultipartUpload.js")
    script(src="/javascripts/admin/shipping.js")
    script(src="/javascripts/admin/shopCode.js")
    script(src="/javascripts/admin/shopDiscount.js")
    script(src="/javascripts/admin/sidebar.js")
    script(src="/javascripts/admin/sliderActivities.js")
    script(src="/javascripts/admin/sliderActivitiesDetail.js")
    script(src="/javascripts/admin/sliderActivitiesUpdate.js")
    script(src="/javascripts/admin/themeActivities.js")
    script(src="/javascripts/bootstrap/affix.js")
    script(src="/javascripts/bootstrap/alert.js")
    script(src="/javascripts/bootstrap/button.js")
    script(src="/javascripts/bootstrap/carousel.js")
    script(src="/javascripts/bootstrap/collapse.js")
    script(src="/javascripts/bootstrap/dropdown.js")
    script(src="/javascripts/bootstrap/modal.js")
    script(src="/javascripts/bootstrap/popover.js")
    script(src="/javascripts/bootstrap/scrollspy.js")
    script(src="/javascripts/bootstrap/tab.js")
    script(src="/javascripts/bootstrap/tooltip.js")
    script(src="/javascripts/bootstrap/transition.js")
    script(src="/javascripts/common/head_layout.js")
    script(src="/javascripts/common/pagination.js")
    script(src="/javascripts/jquery.twzipcode.min.js")
    script(src="/javascripts/login.js")
    script(src="/javascripts/main/FAQ.js")
    script(src="/javascripts/main/cart.js")
    script(src="/javascripts/main/cartstep2.js")
    script(src="/javascripts/main/shop.js")
    script(src="/javascripts/plugin/bootstrap-sprockets.js")
    script(src="/javascripts/plugin/bootstrap.min.js")
    script(src="/javascripts/plugin/cbpAnimatedHeader-product.js")
    script(src="/javascripts/plugin/cbpAnimatedHeader.js")
    script(src="/javascripts/plugin/cbpScroller.js")
    script(src="/javascripts/plugin/ckeditor/config.js")
    script(src="/javascripts/plugin/classie.js")
    script(src="/javascripts/plugin/input-number.js")
    script(src="/javascripts/plugin/jasny-bootstrap.js")
    script(src="/javascripts/plugin/jquery-sortable-min.js")
    script(src="/javascripts/plugin/modernizr.custom.js")
    script(src="/javascripts/plugin/notifyme.js")
    script(src="/javascripts/plugin/scrolltotop.js")
    script(src="/javascripts/plugin/tagsinput.js")
    script(src="/javascripts/plugin/uisearch.js")
    script(src="/javascripts/user/login.js")
    script(src="/javascripts/user/register.js")
    // SCRIPTS END

    //- script(src="//localhost:9091")

    block scripts
