extends ../_layout_auth

block body
  h2.m-bottom-6 常見問題
  a.btn.btn-danger.btn-lg.m-bottom-6(href='FAQAdd') 建立問題
  a.btn.btn-default.btn-lg.m-bottom-6(href='FAQTypeUpdate') 編輯分類
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th 標題
        th
          | 分類
          span.caret
        th
    tbody
    each FAQType, val in FAQTypes
      each FAQ, index in FAQType.FAQs
        tr
          td #{FAQ.title}
          td #{FAQType.name}
          td.text-right
            a.btn.btn-link(href='FAQUpdate?FAQId='+FAQ.id)
              span.glyphicon.glyphicon-pencil2
            a.delete.FAQ(href='#', data-toggle='modal', data-id="#{FAQ.id}",data-name="#{FAQ.title}")
              span.glyphicon.glyphicon-remove
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
        a(href='#') 上一頁
      li.border-right-1.p-right-2 第 15 之 20
      li
        a(href='#') 下一頁
          // /text-center
block js
  script(src="/javascripts/admin/FAQ.js")