extends ../_layout_auth

block body
  h2.m-bottom-6 建立問題
  .well.control-well.p-20.m-bottom-4
    form.form-horizontal
      .form-group
        label.col-sm-3.col-md-2.control-label 問題標題
        .col-sm-9.col-md-10
          input.form-control(type='text', placeholder='問題標題')
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 問題標題
        .col-sm-9.col-md-10
          select.form-control
            option 會員常見問題
            option 購物常見問題
            option 配送取貨問題
            option 退換貨及退款
            option 發票常見問題
            option 海外會員訂購
            option 產品保養問題
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 問題解答
        .col-sm-9.col-md-10
          textarea.form-control(rows='6')
      // /form-group
      .text-right
        a.btn.btn-link.delete-link.btn-lg(href='#') 取消
        a.btn.btn-green.btn-lg(href='qa') 確定
      // /text-center
  // /well
