extends ../_layout_auth

block body
  h2.m-bottom-6 編輯問題
  .well.control-well.p-10-20.m-bottom-4
    .row
      .col-md-1.col-sm-1
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-md-1
      .col-md-9.col-sm-8
        .form-group.m-bottom-0
          input.form-control(type='text', placeholder='問題標題')
        // /form-group
      // /col-md-9
      .col-md-2.col-sm-3
        a.btn-remove(data-toggle='collapse', href='#collapse-qa-1', aria-expanded='false')
          span.glyphicon.glyphicon-chevron-thin-down
        a.btn-remove(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
      // /col-md-2
    // /row
    #collapse-qa-1.collapse
      .row.m-top-2
        .col-md-9.col-sm-8.col-sm-offset-1
          .form-group
            select.form-control
              option 會員常見問題
              option 購物常見問題
              option 配送取貨問題
              option 退換貨及退款
              option 發票常見問題
              option 海外會員訂購
              option 產品保養問題
          // /form-group
          .form-group
            textarea.form-control(rows='10', placeholder='請輸入問題解答...')
          // /form-group
        // /col-md-9
      // /row
    // /collapse
  // /well
  .well.control-well.p-10-20.m-bottom-4
    .row
      .col-md-1.col-sm-1
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-md-1
      .col-md-9.col-sm-8
        .form-group.m-bottom-0
          input.form-control(type='text', placeholder='問題標題')
        // /form-group
      // /col-md-9
      .col-md-2.col-sm-3
        a.btn-remove(data-toggle='collapse', href='#collapse-qa-2', aria-expanded='false')
          span.glyphicon.glyphicon-chevron-thin-down
        a.btn-remove(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
      // /col-md-2
    // /row
    #collapse-qa-2.collapse
      .row.m-top-2
        .col-md-9.col-sm-8.col-sm-offset-1
          .form-group
            select.form-control
              option 會員常見問題
              option 購物常見問題
              option 配送取貨問題
              option 退換貨及退款
              option 發票常見問題
              option 海外會員訂購
              option 產品保養問題
          // /form-group
          .form-group
            textarea.form-control(rows='10', placeholder='請輸入問題解答...')
          // /form-group
        // /col-md-9
      // /row
    // /collapse
  // /well
  .well.control-well.p-10-20.m-bottom-4
    .row
      .col-md-1.col-sm-1
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-md-1
      .col-md-9.col-sm-8
        .form-group.m-bottom-0
          input.form-control(type='text', placeholder='問題標題')
        // /form-group
      // /col-md-9
      .col-md-2.col-sm-3
        a.btn-remove(data-toggle='collapse', href='#collapse-qa-3', aria-expanded='false')
          span.glyphicon.glyphicon-chevron-thin-down
        a.btn-remove(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
      // /col-md-2
    // /row
    #collapse-qa-3.collapse
      .row.m-top-2
        .col-md-9.col-sm-8.col-sm-offset-1
          .form-group
            select.form-control
              option 會員常見問題
              option 購物常見問題
              option 配送取貨問題
              option 退換貨及退款
              option 發票常見問題
              option 海外會員訂購
              option 產品保養問題
          // /form-group
          .form-group
            textarea.form-control(rows='10', placeholder='請輸入問題解答...')
          // /form-group
        // /col-md-9
      // /row
    // /collapse
  // /well
  .well.control-well.p-10-20.m-bottom-4
    .row
      .col-md-1.col-sm-1
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-md-1
      .col-md-9.col-sm-8
        .form-group.m-bottom-0
          input.form-control(type='text', placeholder='問題標題')
        // /form-group
      // /col-md-9
      .col-md-2.col-sm-3
        a.btn-remove(data-toggle='collapse', href='#collapse-qa-4', aria-expanded='false')
          span.glyphicon.glyphicon-chevron-thin-down
        a.btn-remove(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
      // /col-md-2
    // /row
    #collapse-qa-4.collapse
      .row.m-top-2
        .col-md-9.col-sm-8.col-sm-offset-1
          .form-group
            select.form-control
              option 會員常見問題
              option 購物常見問題
              option 配送取貨問題
              option 退換貨及退款
              option 發票常見問題
              option 海外會員訂購
              option 產品保養問題
          // /form-group
          .form-group
            textarea.form-control(rows='10', placeholder='請輸入問題解答...')
          // /form-group
        // /col-md-9
      // /row
    // /collapse
  // /well
  .well.control-well.p-10-20.m-bottom-4
    .row
      .col-md-1.col-sm-1
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-md-1
      .col-md-9.col-sm-8
        .form-group.m-bottom-0
          input.form-control(type='text', placeholder='問題標題')
        // /form-group
      // /col-md-9
      .col-md-2.col-sm-3
        a.btn-remove(data-toggle='collapse', href='#collapse-qa-5', aria-expanded='false')
          span.glyphicon.glyphicon-chevron-thin-down
        a.btn-remove(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
        a.btn-add(href='#')
          span.glyphicon.glyphicon-plus
      // /col-md-2
    // /row
    #collapse-qa-5.collapse
      .row.m-top-2
        .col-md-9.col-sm-8.col-sm-offset-1
          .form-group
            select.form-control
              option 會員常見問題
              option 購物常見問題
              option 配送取貨問題
              option 退換貨及退款
              option 發票常見問題
              option 海外會員訂購
              option 產品保養問題
          // /form-group
          .form-group
            textarea.form-control(rows='10', placeholder='請輸入問題解答...')
          // /form-group
        // /col-md-9
      // /row
    // /collapse
  // /well
  .text-center.m-bottom-6.m-top-6
    a.btn.btn-green.btn-lg(href='qa') 儲存變更
  // /text-center
