extends ../_layout_auth

block body
  h2.m-bottom-6 編輯問題分類
  ul.list-brand
  form.form-horizontal(action="/admin/FAQTypeUpdate", method="POST", id="FAQTypeForm")
    each FAQType,index in FAQTypes
      li
        .well.control-well.p-10-20.m-bottom-4
          .row
            .col-md-1.col-sm-1
              span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
            // /col-md-1
            .col-md-9.col-sm-8
              input(type='hidden', value=FAQType.id, name='FAQTypeId[]')
              input.form-control(type='text', value=FAQType.name ,name='FAQType[]', required)
            // /col-md-9
            .col-md-2.col-sm-3
              a.delete.FAQType.btn-remove(href='#', data-toggle='modal', data-id="#{FAQType.id}",data-name="#{FAQType.name}")
                span.glyphicon.glyphicon-remove
            // /col-md-2
          // /row
        // /well
    .well.control-well.p-10-20.m-bottom-4
      .row
        .col-md-1.col-sm-1
          span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
        // /col-md-1
        .col-md-9.col-sm-8
          input.form-control(type='text', placeholder='分類名稱', name='name[]')
        // /col-md-9
        .col-md-2.col-sm-3
          a.btn-add(href='#')
            span.glyphicon.glyphicon-plus
        // /col-md-2
      // /row
    // /well
    .text-center.m-bottom-6.m-top-6
      input.btn.btn-green.btn-lg(type="submit", id='submit',value='儲存變更') 
    // /text-center
block js
  script(src="/javascripts/admin/controlFAQType.js")

