extends ../_layout_auth

block body
  .row
    .col-xs-10
      h2.m-bottom-6 訂單管理
    // /col-xs-10
    .col-xs-2.text-right
      a(data-toggle='collapse', href='#collapse-order', aria-expanded='false')
        span.glyphicon.glyphicon-zoomin.font-size-large.m-top-1
    // /col-xs-2
  // /row
  #collapse-order.collapse.in
    .well.control-well.p-30.m-bottom-8
      form.form-horizontal
        .row.row-m
          .col-md-4
            .form-group
              label.col-md-4.control-label 品牌編號
              .col-md-8
                input.form-control(type='text')
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 運送方式
              .col-md-8
                select.form-control
                  option 選擇狀態
                  option 2
                  option 3
                  option 4
                  option 5
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 關鍵字
              .col-md-8
                input.form-control(type='text')
            // /form-group
          // /col-md-4
        // /row
        .row.row-m
          .col-md-4
            .form-group
              label.col-md-4.control-label 購買人
              .col-md-8
                input.form-control(type='text')
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 付款狀態
              .col-md-8
                select.form-control
                  option 選擇狀態
                  option 2
                  option 3
                  option 4
                  option 5
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 出貨通知
              .col-md-8
                select.form-control
                  option 選擇狀態
                  option 2
                  option 3
                  option 4
                  option 5
            // /form-group
          // /col-md-4
        // /row
        .row.row-m
          .col-md-4
            .form-group
              label.col-md-4.control-label 收件人
              .col-md-8
                input.form-control(type='text')
            // /form-group
          // /col-md-4
          .col-md-8
            .form-group
              label.col-md-2.control-label 訂單日期
              .col-md-4
                input.form-control(type='date')
              .col-md-2.text-center
                p.form-control-static 至
              .col-md-4
                input.form-control(type='date')
            // /form-group
          // /col-md-8
          .col-md-12.text-right
            a.btn.btn-primary(href='#') 查詢
          // /col-md-12
        // /row
      // /form-horizontal
    // /well
  // /collapse
  .row
    .col-md-6
      form.form-inline
        .form-group
          label 顯示
          select.form-control
            option 10
            option 20
            option 30
            option 40
            option 50
          label 筆資料（共 90 筆）
        // /form-group
    // /col-md-6
    .col-md-6.desktop-text-right
      a.btn.btn-gray(href='#') 列印撿貨單
      a.btn.btn-gray(href='#') 列印清單
    // /col-md-6
  // /row
  hr.dashed-line
  table#collapse-purchase.table.table-purchase
    thead
      tr
        th
        th 訂單編號
        th 購買人
        th 聯絡電話
        th 總數
        th 運送方式
        th 付款
        th 訂單日期
        th 出貨通知
        th
          span.glyphicon.glyphicon-plus
    tbody
      tr
        td
          input(type='checkbox')
        td w201505210009
        td {user_name}
        td 0912-345-678
        td 1
        td 超商取貨
        td
          span.glyphicon.glyphicon-remove-circle.text-danger
        td 2015-5-21
        td
          button.btn.btn-green(type='button') 已通知
        td
          a(data-toggle='collapse', data-parent='#collapse-purchase', href='#collapse-purchase-One')
            span.glyphicon.glyphicon-plus
      tr.tr-hide
        td(colspan='10')
          #collapse-purchase-One.panel-collapse.collapse
            //
              order-detail
              ==================================================
            .p-10
              .m-top-2.m-bottom-2
                p.text-danger ※ 會員備註：瑕疵退貨2次、換色1次、無人收件1次
                .row
                  .col-sm-6
                    ul.p-left-3
                      li 收件人姓名：{consumer_name} 小姐
                      li 收件人電話：09123456**
                      li 收件人地址：407 {consumer_address}
                  // /col-sm-6
                  .col-sm-6
                    form.form-horizontal
                      .form-group.form-group-sm
                        label.col-sm-4.control-label 運送方式
                        .col-sm-8
                          input.form-control.input-sm(type='text')
                      // /form-group
                      .form-group.form-group-sm
                        label.col-sm-4.control-label 編號
                        .col-sm-8
                          input.form-control.input-sm(type='text')
                      // /form-group
                  // /col-sm-6
                // /row
              // /m-top-2 m-bottom-2
              .well
                table.table.m-bottom-0
                  thead
                    tr
                      th 貨號
                      th 商品名稱
                      th.text-center 數量
                      th 單價
                      th.text-right 小計
                  tbody
                    tr
                      td SNAP6-PLUS_CASE_RD
                      td
                        a(href='shop-product') {product_name}
                      td.text-center 3
                      td 1,440
                      td.text-right 3,450
                    tr
                      td SNAP6-PLUS_CASE_RD
                      td
                        a(href='shop-product') {product_name}
                      td.text-center 3
                      td
                        | 1,440
                        small.text-line-through.m-left-1 1,700
                      td.text-right 3,450
                    tr
                      td(colspan='2')
                        ul.list-inline
                          li 運費 0
                          li 包裝 60
                          li 折扣碼 -30
                      td.text-center.text-danger 4
                      td.text-right(colspan='2')
                        h3
                          small 總計
                          span.m-left-2 NT$2,390
              // /well
              p 付款方式：7-11 ibon 代碼繳費，繳費代碼：251563222267
              ul.list-inline
                li 發票類型：三聯式發票
                li 抬頭：{company_name}
                li 統編：{tax_id}
              p.text-danger 賣家備註：1.管理員代收 2.禮品的包裝盒請去除價格標籤
            // /p-10
          // /panel-collapse
      tr
        td
          input(type='checkbox')
        td w201505210009
        td {user_name}
        td 0912-345-678
        td 4
        td 超商取貨
        td
          span.glyphicon.glyphicon-ok-circle
        td 2015-5-21
        td
          button.btn.btn-gray(type='button') 通知出貨
        td
          a(data-toggle='collapse', data-parent='#collapse-purchase', href='#collapse-purchase-Two')
            span.glyphicon.glyphicon-plus
      tr.tr-hide
        td(colspan='10')
          #collapse-purchase-Two.panel-collapse.collapse
            //
              order-detail
              ==================================================
            .p-10
              .m-top-2.m-bottom-2
                p.text-danger ※ 會員備註：瑕疵退貨2次、換色1次、無人收件1次
                .row
                  .col-sm-6
                    ul.p-left-3
                      li 收件人姓名：{consumer_name} 小姐
                      li 收件人電話：09123456**
                      li 收件人地址：407 {consumer_address}
                  // /col-sm-6
                  .col-sm-6
                    form.form-horizontal
                      .form-group.form-group-sm
                        label.col-sm-4.control-label 運送方式
                        .col-sm-8
                          input.form-control.input-sm(type='text')
                      // /form-group
                      .form-group.form-group-sm
                        label.col-sm-4.control-label 編號
                        .col-sm-8
                          input.form-control.input-sm(type='text')
                      // /form-group
                  // /col-sm-6
                // /row
              // /m-top-2 m-bottom-2
              .well
                table.table.m-bottom-0
                  thead
                    tr
                      th 貨號
                      th 商品名稱
                      th.text-center 數量
                      th 單價
                      th.text-right 小計
                  tbody
                    tr
                      td SNAP6-PLUS_CASE_RD
                      td
                        a(href='shop-product') {product_name}
                      td.text-center 3
                      td 1,440
                      td.text-right 3,450
                    tr
                      td SNAP6-PLUS_CASE_RD
                      td
                        a(href='shop-product') {product_name}
                      td.text-center 3
                      td
                        | 1,440
                        small.text-line-through.m-left-1 1,700
                      td.text-right 3,450
                    tr
                      td(colspan='2')
                        ul.list-inline
                          li 運費 0
                          li 包裝 60
                          li 折扣碼 -30
                      td.text-center.text-danger 4
                      td.text-right(colspan='2')
                        h3
                          small 總計
                          span.m-left-2 NT$2,390
              // /well
              p 付款方式：7-11 ibon 代碼繳費，繳費代碼：251563222267
              ul.list-inline
                li 發票類型：三聯式發票
                li 抬頭：{company_name}
                li 統編：{tax_id}
              p.text-danger 賣家備註：1.管理員代收 2.禮品的包裝盒請去除價格標籤
            // /p-10
          // /panel-collapse
      tr
        td
          input(type='checkbox')
        td w201505210009
        td {user_name}
        td 0912-345-678
        td 4
        td 超商取貨
        td
          span.glyphicon.glyphicon-ok-circle
        td 2015-5-21
        td
          button.btn.btn-gray(type='button') 通知出貨
        td
          a(data-toggle='collapse', data-parent='#collapse-purchase', href='#collapse-purchase-Three')
            span.glyphicon.glyphicon-plus
      tr.tr-hide
        td(colspan='10')
          #collapse-purchase-Three.panel-collapse.collapse
            //
              order-detail
              ==================================================
            .p-10
              .m-top-2.m-bottom-2
                p.text-danger ※ 會員備註：瑕疵退貨2次、換色1次、無人收件1次
                .row
                  .col-sm-6
                    ul.p-left-3
                      li 收件人姓名：{consumer_name} 小姐
                      li 收件人電話：09123456**
                      li 收件人地址：407 {consumer_address}
                  // /col-sm-6
                  .col-sm-6
                    form.form-horizontal
                      .form-group.form-group-sm
                        label.col-sm-4.control-label 運送方式
                        .col-sm-8
                          input.form-control.input-sm(type='text')
                      // /form-group
                      .form-group.form-group-sm
                        label.col-sm-4.control-label 編號
                        .col-sm-8
                          input.form-control.input-sm(type='text')
                      // /form-group
                  // /col-sm-6
                // /row
              // /m-top-2 m-bottom-2
              .well
                table.table.m-bottom-0
                  thead
                    tr
                      th 貨號
                      th 商品名稱
                      th.text-center 數量
                      th 單價
                      th.text-right 小計
                  tbody
                    tr
                      td SNAP6-PLUS_CASE_RD
                      td
                        a(href='shop-product') {product_name}
                      td.text-center 3
                      td 1,440
                      td.text-right 3,450
                    tr
                      td SNAP6-PLUS_CASE_RD
                      td
                        a(href='shop-product') {product_name}
                      td.text-center 3
                      td
                        | 1,440
                        small.text-line-through.m-left-1 1,700
                      td.text-right 3,450
                    tr
                      td(colspan='2')
                        ul.list-inline
                          li 運費 0
                          li 包裝 60
                          li 折扣碼 -30
                      td.text-center.text-danger 4
                      td.text-right(colspan='2')
                        h3
                          small 總計
                          span.m-left-2 NT$2,390
              // /well
              p 付款方式：7-11 ibon 代碼繳費，繳費代碼：251563222267
              ul.list-inline
                li 發票類型：三聯式發票
                li 抬頭：{company_name}
                li 統編：{tax_id}
              p.text-danger 賣家備註：1.管理員代收 2.禮品的包裝盒請去除價格標籤
            // /p-10
          // /panel-collapse
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
        a(href='#') 上一頁
      li.border-right-1.p-right-2 第 15 之 20
      li
        a(href='#') 下一頁
  // /text-center
