extends ../_layout_auth

block body
  h2.m-bottom-6 優惠代碼
  a.btn.btn-danger.btn-lg.m-bottom-6(href='shop-code-detail') 建立代碼
  .row
    .col-sm-6.col-md-8
      form.form-inline
        .form-group
          label 顯示
          select.form-control
            option 10
            option 20
            option 30
            option 40
            option 50
          label 筆資料（共 90 筆）
        // /form-group
    // /col-sm-6
    .col-sm-6.col-md-4
      .input-group
        input.form-control(type='text', placeholder='Search for...')
        span.input-group-btn
          button.btn.btn-default.p-left-2.p-right-2(type='button')
            span.glyphicon.glyphicon-search
      // /input-group
    // /col-sm-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th 優惠代碼
        th 優惠名稱
        th 優惠
        th 限滿額
        th 時間
        th
    tbody
      tr
        td
          span.text-info {special_code}
        td 全館 200 元優惠券
        td 200
        td 500
        td
          | 2015-10-03
          br
          | 2015-10-22
        td.text-right
          a.btn.btn-link(href='shop-code-detail')
            span.glyphicon.glyphicon-pencil2
          a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
            span.glyphicon.glyphicon-remove
      tr
        td
          span.text-info {special_code}
        td 首次註冊會員七折優惠券
        td 7 折
        td  -
        td 不限時
        td.text-right
          a.btn.btn-link(href='shop-code-detail')
            span.glyphicon.glyphicon-pencil2
          a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
            span.glyphicon.glyphicon-remove
