extends ../_layout_auth

block body
  h2.m-bottom-6 精選活動
  .row
    .col-xs-6
      a.btn.btn-danger.btn-lg.m-bottom-2(href='#', data-toggle='modal', data-target='#modal-control-index-exclusive-type') 建立活動
    // /col-xs-6
    .col-xs-6.text-right
      a.btn.btn-green.btn-lg.m-bottom-2(href='#') 儲存變更
    // /col-xs-6
  // /row
  hr.dashed-line
  .well.control-well.p-10-20.m-bottom-8
    .row
      .col-sm-6
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-sm-6
      .col-sm-6.text-right
        a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
      // /col-sm-6
    // /row
    form.form-horizontal
      .row.row-s.m-bottom-4
        .col-xs-12
          .fileinput.fileinput-new(data-provides='fileinput')
            .fileinput-new
              img.img-full(src='http://fakeimg.pl/1100x160/ff595f/FFF/?text=1100x160')
            // /fileinput-new
            .fileinput-preview.fileinput-exists
            // /fileinput-preview
            .fileinput-btn
              span.btn.btn-default.btn-sm.btn-file
                span.fileinput-new Select image
                span.fileinput-exists Change
                input(type='file', name='...')
              a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
        // /col-xs-12
      // /row
      .form-group
        .col-sm-9.col-md-9
          input.form-control(type='text', placeholder='http://連結網址')
        // /col-sm-9
        .col-sm-3.col-md-3
          .checkbox
            label
              input(type='checkbox')
              |  另開視窗
      // /form-group
  // /well
  .well.control-well.p-10-20.m-bottom-8
    .row
      .col-sm-6
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-sm-6
      .col-sm-6.text-right
        a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
      // /col-sm-6
    // /row
    form.form-horizontal
      .row.row-s.m-bottom-4
        .col-xs-12
          .fileinput.fileinput-new(data-provides='fileinput')
            .fileinput-new
              img.img-full(src='http://fakeimg.pl/1100x350/ff595f/FFF/?text=1100x350')
            // /fileinput-new
            .fileinput-preview.fileinput-exists
            // /fileinput-preview
            .fileinput-btn
              span.btn.btn-default.btn-sm.btn-file
                span.fileinput-new Select image
                span.fileinput-exists Change
                input(type='file', name='...')
              a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                span.glyphicon.glyphicon-remove
            // /fileinput-btn
          // /fileinput
        // /col-xs-12
      // /row
      .form-group
        .col-sm-9.col-md-9
          input.form-control(type='text', placeholder='http://連結網址')
        // /col-sm-9
        .col-sm-3.col-md-3
          .checkbox
            label
              input(type='checkbox')
              |  另開視窗
      // /form-group
  // /well
  .well.control-well.p-10-20.m-bottom-8
    .row
      .col-sm-6
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-sm-6
      .col-sm-6.text-right
        a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
      // /col-sm-6
    // /row
    form.form-horizontal
      .row.row-s
        .col-xs-6
          .fileinput.fileinput-new.m-bottom-4(data-provides='fileinput')
            .fileinput-new
              img.img-full(src='http://fakeimg.pl/545x350/ff595f/FFF/?text=545x350')
            // /fileinput-new
            .fileinput-preview.fileinput-exists
            // /fileinput-preview
            .fileinput-btn
              span.btn.btn-default.btn-sm.btn-file
                span.fileinput-new Select image
                span.fileinput-exists Change
                input(type='file', name='...')
              a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
          .form-group.m-left-0.m-right-0
            .col-sm-9.col-md-9
              input.form-control(type='text', placeholder='http://連結網址')
            // /col-sm-9
            .col-sm-3.col-md-3
              .checkbox
                label
                  input(type='checkbox')
                  |  另開視窗
          // /form-group
        // /col-xs-6
        .col-xs-6
          .fileinput.fileinput-new.m-bottom-4(data-provides='fileinput')
            .fileinput-new
              img.img-full(src='http://fakeimg.pl/545x350/ff595f/FFF/?text=545x350')
            // /fileinput-new
            .fileinput-preview.fileinput-exists
            // /fileinput-preview
            .fileinput-btn
              span.btn.btn-default.btn-sm.btn-file
                span.fileinput-new Select image
                span.fileinput-exists Change
                input(type='file', name='...')
              a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
          .form-group.m-left-0.m-right-0
            .col-sm-9.col-md-9
              input.form-control(type='text', placeholder='http://連結網址')
            // /col-sm-9
            .col-sm-3.col-md-3
              .checkbox
                label
                  input(type='checkbox')
                  |  另開視窗
          // /form-group
        // /col-xs-6
      // /row
  // /well
  .well.control-well.p-10-20.m-bottom-8
    .row
      .col-sm-6
        span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
      // /col-sm-6
      .col-sm-6.text-right
        a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
          span.glyphicon.glyphicon-remove
      // /col-sm-6
    // /row
    form.form-horizontal
      .row.row-s.m-bottom-4
        .col-xs-4
          .fileinput.fileinput-new.m-bottom-4(data-provides='fileinput')
            .fileinput-new
              img.img-full(src='http://fakeimg.pl/360x230/ff595f/FFF/?text=360x230')
            // /fileinput-new
            .fileinput-preview.fileinput-exists
            // /fileinput-preview
            .fileinput-btn
              span.btn.btn-default.btn-sm.btn-file
                span.fileinput-new Select image
                span.fileinput-exists Change
                input(type='file', name='...')
              a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
          .form-group.m-left-0.m-right-0
            .col-sm-12
              input.form-control(type='text', placeholder='http://連結網址')
            // /col-sm-12
            .col-sm-12
              .checkbox
                label
                  input(type='checkbox')
                  |  另開視窗
            // /col-sm-12
          // /form-group
        // /col-xs-4
        .col-xs-4
          .fileinput.fileinput-new.m-bottom-4(data-provides='fileinput')
            .fileinput-new
              img.img-full(src='http://fakeimg.pl/360x230/ff595f/FFF/?text=360x230')
            // /fileinput-new
            .fileinput-preview.fileinput-exists
            // /fileinput-preview
            .fileinput-btn
              span.btn.btn-default.btn-sm.btn-file
                span.fileinput-new Select image
                span.fileinput-exists Change
                input(type='file', name='...')
              a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
          .form-group.m-left-0.m-right-0
            .col-sm-12
              input.form-control(type='text', placeholder='http://連結網址')
            // /col-sm-12
            .col-sm-12
              .checkbox
                label
                  input(type='checkbox')
                  |  另開視窗
            // /col-sm-12
          // /form-group
        // /col-xs-4
        .col-xs-4
          .fileinput.fileinput-new.m-bottom-4(data-provides='fileinput')
            .fileinput-new
              img.img-full(src='http://fakeimg.pl/360x230/ff595f/FFF/?text=360x230')
            // /fileinput-new
            .fileinput-preview.fileinput-exists
            // /fileinput-preview
            .fileinput-btn
              span.btn.btn-default.btn-sm.btn-file
                span.fileinput-new Select image
                span.fileinput-exists Change
                input(type='file', name='...')
              a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
          .form-group.m-left-0.m-right-0
            .col-sm-12
              input.form-control(type='text', placeholder='http://連結網址')
            // /col-sm-12
            .col-sm-12
              .checkbox
                label
                  input(type='checkbox')
                  |  另開視窗
            // /col-sm-12
          // /form-group
        // /col-xs-4
      // /row
  // /well
// /col-sm-9
// /row
