extends ../_layout_auth

block body
  h2.m-bottom-6 燈箱活動設定
  .well.control-well.p-30.m-bottom-8
    form.form-horizontal
      .form-group
        label.col-sm-3.col-md-2.control-label 活動主圖
        .col-sm-9.col-md-10
          .max-width-260
            //
              fileinput-img
              ==================================================
            .fileinput.fileinput-new(data-provides='fileinput')
              .fileinput-new.dashed-block-2.min-height-150
              // /fileinput-new
              .fileinput-preview.fileinput-exists.border-block-1
              // /fileinput-preview
              .fileinput-btn
                span.btn.btn-default.btn-sm.btn-file
                  span.fileinput-new Select image
                  span.fileinput-exists Change
                  input(type='file', name='...')
                a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
              // /fileinput-btn
            // /fileinput
          // /max-width-150
          a(href='#', data-toggle='tooltip', title='', data-original-title='商品圖長寬 2000x1200 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
            span.glyphicon.glyphicon-info
        // /col-sm-10
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 活動標題
        .col-sm-9.col-md-10
          input.form-control(type='text')
        // /col-sm-10
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 活動文案
        .col-sm-9.col-md-10
          textarea.form-control(rows='3')
        // /col-sm-9
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 文案位置
        .col-sm-9.col-md-10
          label.radio-inline
            input#inlineRadio1(type='radio', name='inlineRadioOptions', value='option1', checked='')
            |  左上
          label.radio-inline
            input#inlineRadio2(type='radio', name='inlineRadioOptions', value='option2')
            |  中上
          label.radio-inline
            input#inlineRadio3(type='radio', name='inlineRadioOptions', value='option3')
            |  右上
          label.radio-inline
            input#inlineRadio4(type='radio', name='inlineRadioOptions', value='option4')
            |  左中
          label.radio-inline
            input#inlineRadio5(type='radio', name='inlineRadioOptions', value='option5')
            |  中中
          label.radio-inline
            input#inlineRadio6(type='radio', name='inlineRadioOptions', value='option6')
            |  右中
          label.radio-inline
            input#inlineRadio7(type='radio', name='inlineRadioOptions', value='option7')
            |  左下
          label.radio-inline
            input#inlineRadio8(type='radio', name='inlineRadioOptions', value='option8')
            |  中下
          label.radio-inline
            input#inlineRadio9(type='radio', name='inlineRadioOptions', value='option9')
            |  右下
        // /col-sm-9
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 文案顏色
        .col-sm-9.col-md-10
          input#myColor.form-control.width-10(type='color', value='#333333')
        // /col-sm-9
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 活動網址
        .col-sm-6.col-md-7
          input.form-control(type='text', placeholder='http://')
        // /col-sm-9
        .col-sm-3.col-md-3
          .checkbox
            label
              input(type='checkbox')
              |  另開視窗
      // /form-group
      .m-top-6.text-right
        a.btn.btn-link.delete-link.btn-lg(href='#', data-toggle='modal', data-target='#modal-delete') 刪除
        a.btn.btn-green.btn-lg(href='index-slider') 確定
      // /text-right
  // /well
