//- extends ./../layout
extends ../_layout_auth

block body
  .container.font-size-slarge
    .row.m-top-10.m-bottom-10
      .col-sm-6.col-sm-offset-3
        .border-block-3.p-40
          h2.text-center.m-bottom-4 修改密碼
          hr
          form.form-horizontal
            .form-group
              label.col-md-4.control-label 原密碼
              .col-md-8
                input.form-control(type='password', placeholder='Password')
            // /form-group
            .form-group
              label.col-md-4.control-label 新密碼
              .col-md-8
                input.form-control(type='password', placeholder='Password')
            // /form-group
            .form-group
              label.col-md-4.control-label 再次輸入密碼
              .col-md-8
                input.form-control(type='password', placeholder='Password')
            // /form-group
            .text-center.m-top-6
              a.btn.btn-black.btn-block.border-radius-circle(href='control-index-slider.html') 登入
            // /text-center
        // /border-block-3
      // /col-sm-6
    // /row
