extends ../_layout_head

block body
    .container.font-size-slarge.line-height-large
      .m-top-10.m-bottom-10
        .row
          .col-md-3
            h1.text-black.m-bottom-6 申請會員
            h4.m-bottom-4 註冊會員，您可以：
            ul.m-bottom-10
              li 接收最新消息、折扣代碼
              li 快速下訂單
              li 查看訂單狀態和記錄
              li 收藏我的希望清單
          // /col-md-3
          .col-md-9
            form.border-block-3.p-40(action='/auth/local/register', method='post', id='registerForm')
              include ./_form
              .row
                .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.text-center
                  button.btn.btn-black.border-radius-circle.btn-block.m-bottom-4(type="submmit") 完成、註冊會員

              
              .row.checkbox
                label
                  input(type='checkbox', name='privacyTermsAgree', value='true', required)
                  |  我同意隱私權條款（
                  a(href='#') 願聞其詳
                    | ）
                // /col-md-6
              // /row
            // /border-block-3
          // /col-md-9
        // /row
      // /m-top-10 m-bottom-10
    // /container
    
block js
  script(src="/javascripts/jquery.twzipcode.min.js")  
  script(src="/javascripts/user/register.js")        
