extends ./../_layout_single

block body
  div.container 交易進行中，請勿關閉視窗....
      form#form1(name='form1', method='post',action= AioCheckOut) 
        input(type='hidden', name='MerchantID' value= allPayData.MerchantID)
        input(type='hidden', name='MerchantTradeNo' value= allPayData.MerchantTradeNo)
        input(type='hidden', name='MerchantTradeDate' value= allPayData.MerchantTradeDate)
        input(type='hidden', name='PaymentType' value= allPayData.PaymentType)
        input(type='hidden', name='TotalAmount' value= allPayData.TotalAmount)
        input(type='hidden', name='TradeDesc' value= allPayData.TradeDesc)
        input(type='hidden', name='ItemName' value= allPayData.ItemName)
        input(type='hidden', name='ReturnURL' value= allPayData.ReturnURL)
        input(type='hidden', name='ChoosePayment' value= allPayData.ChoosePayment)
        input(type='hidden', name='ClientBackURL' value= allPayData.ClientBackURL)
        input(type='hidden', name='CheckMacValue' value= allPayData.CheckMacValue)
        input(type='hidden', name='PaymentInfoURL' value= allPayData.PaymentInfoURL)
        //- a.btn.btn-primary(onClick='$("form[name=\'form1\']").submit()') 查詢
  block js
    script.
      $( document ).ready( $("form[name='form1']").submit() );
