extends ./../layout

block body
  div.container
    div.page-header
      h1 付款確認表單
    p 請輸入「匯款人姓名」及「轉帳帳號後五碼」
    form
      div.form-group
        label 訂單編號
      div.form-group
        label 付款日期
        input.form-control.datepicker
      div.form-group
        label 匯款人姓名
        input.form-control
      div.form-group
        label 轉帳帳號後五碼
        input.form-control
      button.btn.btn-primary.submit-action(type='button') 送出
    hr
    div.text-center
      p ＯＯＯＯ版權所有
block scripts
  script(type='text/javascript').
    $(function() {

      $('input.datepicker').datepicker({format: 'yyyy/mm/dd', autoclose: true});
      $('button.submit-action').click(function(e) {
        e.preventDefault();

        $.ajax({
          url: '/order/paymentConfirm',
          method: "POST",
          data: { id : 1 }
        }).done(function() {
          bootbox.alert("Hello world!");

          $('button.submit-action')
            .text('已送出')
            .attr('disabled', 'true')
            .prepend('<i class="zmdi zmdi-check"></i> ');
        });

        return false;
      });

    });
