extends ./../layout

block body
  div.container
    div.page-header
      h1 付款確認表單
    p 請輸入「匯款人姓名」及「轉帳帳號後五碼」
    form
      div.form-group
        label 訂單編號
      div.form-group
        label 付款日期
        input.form-control
      div.form-group
        label 匯款人姓名
        input.form-control
      div.form-group
        label 轉帳帳號後五碼
        input.form-control
      button.btn.btn-primary 送出

  // SCRIPTS END
  script(type='text/javascript').
    $('input').datepicker({});
