extends ../_layout_auth

block body
  h2.m-bottom-6 營收報表
  form.form-inline(action="/report/export", method="POST", name="report")
    .form-group
      select.form-control(name='date')
        option(value="2015-09") 2015 年 10 月
    // /form-control
    button.btn.btn-danger(type='submit') 匯出報表
