extends ../_layout_auth
include ../mixins/pagination

block body
  h2.m-bottom-6 活動設定
  .well.control-well.p-30.m-bottom-8
    form#shopDiscount.form-horizontal(action="/admin/shopDiscount/create", method="post")
      .form-group
        label.col-sm-3.col-md-2.control-label 活動名稱
        .col-sm-9.col-md-10
          input.form-control(type='text',name='title',form='shopDiscount')
        // /col-sm-10
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 活動類型
        .col-sm-4.col-md-3
          .radio
            label
              input(type='radio', name='type', value='flash', checked='',form='shopDiscount')
              | 閃購
        .col-sm-1.col-md-1
        .col-sm-4.col-md-3
          .radio
            label
              input(type='radio', name='type', value='general',form='shopDiscount') 
              | 一般
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 活動主圖
        .col-sm-9.col-md-10
          .max-width-150
            //
              fileinput-img-square
              ==================================================
            .fileinput.fileinput-new(data-provides='fileinput')
              .fileinput-new.dashed-block-2.fileinput-square
              // /fileinput-new
              .fileinput-preview.fileinput-exists.border-block-1
              // /fileinput-preview
              .fileinput-btn
                span.btn.btn-default.btn-sm.btn-file
                  span.fileinput-new Select image
                  span.fileinput-exists Change
                  input(type='file', name='...',form='shopDiscount')
                a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
              // /fileinput-btn
            // /fileinput
          // /max-width-150
          a(href='#', data-toggle='tooltip', title='', data-original-title='商品圖長寬 600x600 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
            span.glyphicon.glyphicon-info
        // /col-sm-10
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 活動時間
        .col-sm-4.col-md-3
          input.form-control(type='date',name='startDate',form='shopDiscount')
        .col-sm-1.col-md-1.p-left-0.p-right-0.text-center
          p.form-control-static 至
        .col-sm-4.col-md-3
          input.form-control(type='date',name='endDate',form='shopDiscount')
        .col-sm-9.col-sm-offset-3.col-md-3.col-md-offset-0
          .checkbox
            label
              input(type='checkbox')
              |  不限時
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 折扣設定
        .col-sm-4.col-md-3
          .radio
            label
              input#optionsRadios1(type='radio', name='discountType', value='price', checked='',form='shopDiscount')
              input.form-control(type='text',name='price', placeholder='請輸入折扣金額',form='shopDiscount')
        .col-sm-1.col-md-1
        .col-sm-4.col-md-3
          .radio
            label
              input#optionsRadios2(type='radio', name='discountType', value='discount',form='shopDiscount')
              .input-group.width-12
                input.form-control(type='text',name='discount',form='shopDiscount')
                span.input-group-addon 折
              // /input-group
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 活動文案
        .col-sm-9.col-md-10
          textarea.form-control(rows='3',form='shopDiscount',name='description')
        // /col-sm-9
      // /form-group
      .m-top-6.text-right
        a.btn.btn-link.delete-link.btn-lg(href='#', data-toggle='modal', data-target='#modal-delete') 刪除
        button#add.btn.btn-green.btn-lg(form='shopDiscount') 確認
      // /text-right
  // /well
  .row
    .col-md-4
      form.form-inline
        .form-group
          label 顯示
            +pagination-limit
        // /form-group
    // /col-md-6
    .col-md-8.desktop-text-right
      form.form-inline.with-pagination(name="search", action="shop-discount-detail", method="get")
        .form-group.m-right-2
          label 品牌名稱
          select.form-control
            option 品牌名稱
            option 2
            option 3
            option 4
            option 5
        // /form-group
        .form-group.m-right-2
          .input-group
            input#keyword.form-control(type='text',name="keyword",placeholder='輸入關鍵字',value= query.keyword)
            pagination-fields(page, limit)
            span.input-group-btn
              button.btn.btn-default.p-left-2.p-right-2(type='button', onClick='$("form[name=\'search\']").submit()')
                span.glyphicon.glyphicon-search
    // /col-md-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th
          input(type='checkbox')
        th 主圖
        th
          | 商品名稱
          span.caret
        th
          | 貨號
          span.caret
        th
          | 售價
          span.caret
        th
          | 特價
          span.caret
        th
    tbody
      each productGm in productGms.rows
        tr
          td
            input.addSelect(type='checkbox' value= productGm.id)
          td
            img.width-6(src= productGm.coverPhoto)
          td= productGm.name
          td= productGm.id
          td 590
          td
            span.text-danger 413
          td.text-right
            a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
              span.glyphicon.glyphicon-remove
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      +pagination-simple-pager(page, totalPages)
  // /text-center
block js
  script(src='/javascripts/common/pagination.js')
  script(src="/javascripts/admin/shopDiscount.js")
