extends ../_layout_auth

block body
  h2.m-bottom-6 選擇折扣商品
  .well.control-well.p-30.m-bottom-8
    form.form-inline
      .form-group.m-right-4
        label 品牌名稱
        select.form-control
          option 品牌名稱
          option 2
          option 3
          option 4
          option 5
      // /form-group
      .form-group.m-right-4
        label 關鍵字
        input.form-control(type='text')
      // /form-group
      button.btn.btn-default(type='button') 查詢
  // /well
  .row
    .col-md-6
      form.form-inline
        .form-group
          label 顯示
          select.form-control
            option 10
            option 20
            option 30
            option 40
            option 50
          label 筆資料（共 90 筆）
        // /form-group
    // /col-md-6
    .col-md-6.desktop-text-right
      a.btn.btn-green(href='#') 加入已選取商品
    // /col-md-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th
          input(type='checkbox')
        th 主圖
        th
          | 商品名稱
          span.caret
        th
          | 貨號
          span.caret
        th
          | 售價
          span.caret
        th
          | 特價
          span.caret
    tbody
      tr
        td
          input(type='checkbox')
        td
          img.width-6(src='images/demo/shop-item-1-1.jpg')
        td {product_name}
        td JC1129
        td 590
        td
          span.text-danger 413
      tr
        td
          input(type='checkbox')
        td
          img.width-6(src='images/demo/shop-item-2-1.jpg')
        td {product_name}
        td JC1129
        td 590
        td
          span.text-danger 413
      tr
        td
          input(type='checkbox')
        td
          img.width-6(src='images/demo/shop-item-3-1.jpg')
        td {product_name}
        td JC1129
        td 590
        td
          span.text-danger 413
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
        a(href='#') 上一頁
      li.border-right-1.p-right-2 第 15 之 20
      li
        a(href='#') 下一頁
  // /text-center
