extends ../_layout_auth

block body
  h2.m-bottom-6 營收報表
  form.form-inline
    .form-group
      select.form-control
        option 2015 年 9 月
        option 2
        option 3
        option 4
        option 5
    // /form-control
    button.btn.btn-danger(type='button') 匯出報表
