div(data-role='fieldcontain')
  label(for='[name]') 名稱:
  input(type='text', name='[product].[name]', id='[product].[name]', value='斗六文旦柚禮盒')
div(data-role='fieldcontain')
  label(for='[description]') 描述:
  input(type='text', name='[product].[description]', id='[product].[description]', value='貳拾斤裝')
div(data-role='fieldcontain')
  label(for='[stockQuantity]') 數量:
  input(type='text', name='[product].[stockQuantity]', id='[product].[stockQuantity]', value='10')
div(data-role='fieldcontain')
  label(for='[price]') 價錢:
  input(type='text', name='[product].[price]', id='[product].[price]', value='999')
div(data-role='fieldcontain')
  label(for='[image]') product-image
  input(type='text', name='[product].[image]', id='[product].[image]', value='http://localhost:1337/images/product/1.jpg')
div(data-role='fieldcontain')
  label(for='[isPublish]') 是否上架:
  select(id='[product].[isPublish]' name='[product].[isPublish]')
    option(value="true") 是
    option(value="false") 否
div(data-role='fieldcontain')
  label(for='[comment]') 商品備註:
  input(type='text', name='[product].[comment]', id='[product].[comment]', value='商品備註')
