extends ../_layout_head

block body

  .container.font-size-slarge.line-height-large

    // ABOUT US
    .row.m-top-10.m-bottom-10
        .col-md-8.col-md-offset-2.text-center
          h1.page-title.m-bottom-6
            | ABOUT US
            br
            small 關於我們
          p 自詡為盡善盡美的「Creative Shop」，追求「for an ideal tomorrow」的極致體現，致力於創造能不斷提升理想生活質感的想法、環境、精品、以及態度， 用心打造對品味有意義、對美感有助益的好創意，為更理想的明日感動生活方式認真努力！
        // /col-md-8
      // /row
    
    // Images  
    img.img-responsive.m-h-auto.m-bottom-6(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/about.jpg')

    
    // Description
    .row.m-top-10.m-bottom-10
      .col-md-8.col-md-offset-2.text-center
        h2.text-black.m-bottom-6 創意俯拾即是，靈光垂手可得
        p 威伯國際有限公司創立於2006年底，是一個以代理國內外設計品牌的專業貿易代理商，我們期許自己與其他貿易代理商不同的價值在於設計品牌的行銷與建 立，以及設計產業通路、設計產品等相關資訊服務。
      // /col-md-8
    // /row

    // Icon
    .row.m-top-10.m-bottom-10
      .col-sm-4.text-center.m-bottom-6
        a.max-width-260.show.m-h-auto(href='mailto:info@wevo.com.tw')
          .label.label-success.label-circle.m-h-auto
            span.glyphicon.glyphicon-briefcase
          // /label
          h3.m-top-4.m-bottom-3.text-black 經銷商夥伴合作
          p.text-gray-light 期待認識對生活品味提昇有使命感的您與我們合作
      // /col-sm-4
      .col-sm-4.text-center.m-bottom-6
        a.max-width-260.show.m-h-auto(href='mailto:info@wevo.com.tw')
          .label.label-success.label-circle.m-h-auto
            span.glyphicon.glyphicon-gift
          // /label
          h3.m-top-4.m-bottom-3.text-black 企業禮贈品採購
          p.text-gray-light 提供企業禮贈品、空間專案合作、大量企業採購等服務
      // /col-sm-4
      .col-sm-4.text-center.m-bottom-6
        a.max-width-260.show.m-h-auto(href='mailto:info@wevo.com.tw')
          .label.label-success.label-circle.m-h-auto
            span.glyphicon.glyphicon-screen
          // /label
          h3.m-top-4.m-bottom-3.text-black 媒體公關需求
          p.text-gray-light 提供媒體報導圖文以及公關需求
      // /col-sm-4
    // /row

    // SHOPS
    .m-top-10.m-bottom-10.text-center
      h1.page-title.m-bottom-6
        | SHOPS
        br
        small 實體通路
      .row
        .col-sm-3.col-xs-4.m-bottom-6
          img.img-responsive.m-h-auto.m-bottom-4.border-block-img(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/logo-dealers-1.jpg')
          h5.text-muted.h5-two-hide eslite 誠品
        // /col-sm-3
        .col-sm-3.col-xs-4.m-bottom-6
          img.img-responsive.m-h-auto.m-bottom-4.border-block-img(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/logo-dealers-1.jpg')
          h5.text-muted.h5-two-hide eslite 誠品
        // /col-sm-3
        .col-sm-3.col-xs-4.m-bottom-6
          img.img-responsive.m-h-auto.m-bottom-4.border-block-img(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/logo-dealers-1.jpg')
          h5.text-muted.h5-two-hide eslite 誠品
        // /col-sm-3
        .col-sm-3.col-xs-4.m-bottom-6
          img.img-responsive.m-h-auto.m-bottom-4.border-block-img(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/logo-dealers-1.jpg')
          h5.text-muted.h5-two-hide eslite 誠品
        // /col-sm-3
        .col-sm-3.col-xs-4.m-bottom-6
          img.img-responsive.m-h-auto.m-bottom-4.border-block-img(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/logo-dealers-1.jpg')
          h5.text-muted.h5-two-hide eslite 誠品
        // /col-sm-3
        .col-sm-3.col-xs-4.m-bottom-6
          img.img-responsive.m-h-auto.m-bottom-4.border-block-img(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/logo-dealers-1.jpg')
          h5.text-muted.h5-two-hide eslite 誠品
        // /col-sm-3
        .col-sm-3.col-xs-4.m-bottom-6
          img.img-responsive.m-h-auto.m-bottom-4.border-block-img(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/logo-dealers-1.jpg')
          h5.text-muted.h5-two-hide eslite 誠品
        // /col-sm-3
        .col-sm-3.col-xs-4.m-bottom-6
          img.img-responsive.m-h-auto.m-bottom-4.border-block-img(src='https://dl.dropboxusercontent.com/u/9662264/iplusdeal/images/demo/logo-dealers-1.jpg')
          h5.text-muted.h5-two-hide eslite 誠品
        // /col-sm-3
      // /row
    // /m-top-8 m-bottom-8
