extends ../_layout_head

block body
    .navmenu.navmenu-default.navmenu-fixed-right.offcanvas
      a.navmenu-brand(href='index') i+Deal
      ul.nav.navmenu-nav.navmenu-nav-top
        li
          a(href='brands-list') BRANDS
        li
          a(href='http://blog.iplusdeal.com/') BLOG
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | SHOP
            span.glyphicon.glyphicon-chevron-down.m-left-1
          ul.dropdown-menu.navmenu-nav(role='menu')
            li
              a(href='shop') 新品上市
            li
              a(href='shop') 居家生活
            li
              a(href='shop') 餐廚食器
            li
              a(href='shop') 事務文具
            li
              a(href='shop') 收納整理
            li
              a(href='shop') 配件小物
            li
              a(href='shop') 數位科技
            li
              a(href='shop') 工藝職人
            li
              a(href='shop') 特別企劃
            li
              a.btn.btn-default(href='brands-list-shop') 品牌列表
        li
          a(href='login')
            span.glyphicon.glyphicon-user.m-right-1
            | LOGIN
        li
          a(href='cart')
            span.glyphicon.glyphicon-shopping-cart.m-right-1
            span.text-green 5
        li
          .input-group.m-bottom-2.m-top-2
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              a.btn.btn-default.p-left-2.p-right-2(href='search-result')
                span.glyphicon.glyphicon-search
          // /input-group
    // /navmenu-fixed-right
    //
      modal-login
      ==================================================
    #modal-login.modal.fade
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h1.modal-title.text-center 登入
          // /modal-header
          .modal-body.text-center.p-30
            form.m-bottom-4
              .form-group
                input.form-control(type='email', placeholder='Email')
              // /form-group
              .form-group
                input.form-control(type='password', placeholder='Password')
              // /form-group
              button.btn.btn-black.border-radius-circle.btn-block.m-bottom-2(type='button', data-toggle='modal', data-target='#modal-login-feedback', data-dismiss='modal') 登入會員
              button.btn.btn-fb.border-radius-circle.btn-block(type='button', data-dismiss='modal') FACEBOOK 登入
            a(href='#', data-toggle='modal', data-target='#modal-password', data-dismiss='modal') 忘記密碼
            hr.m-top-4.m-bottom-4
            h5.m-bottom-4 還沒有帳號？
            a.btn.btn-line.border-radius-circle.btn-block(href='signup') 申請會員
          // /modal-body
        // /modal-content
      // /modal-dialog
    // /modal
    //
      modal-login-feedback
      ==================================================
    #modal-login-feedback.modal.fade
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h1.modal-title.text-center 登入
          // /modal-header
          .modal-body.text-center.p-30
            form.m-bottom-4
              .form-group.has-success.has-feedback
                input.form-control(type='email', placeholder='Email')
                span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
              // /form-group
              .form-group.has-error.has-feedback
                input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden='true')
              // /form-group
              button.btn.btn-black.border-radius-circle.btn-block.m-bottom-2(type='submit', data-dismiss='modal') 登入會員
              button.btn.btn-fb.border-radius-circle.btn-block(type='submit', data-dismiss='modal') FACEBOOK 登入
            a(href='#', data-toggle='modal', data-target='#modal-password', data-dismiss='modal') 忘記密碼
            hr.m-top-4.m-bottom-4
            h5.m-bottom-4 還沒有帳號？
            a.btn.btn-line.border-radius-circle.btn-block(href='signup') 申請會員
          // /modal-body
        // /modal-content
      // /modal-dialog
    // /modal
    //
      modal-password
      ==================================================
    #modal-password.modal.fade
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h1.modal-title.text-center 忘記密碼
          // /modal-header
          .modal-body.text-center.p-30
            form.m-bottom-4
              .form-group
                input.form-control(type='email', placeholder='Email')
              // /form-group
              button.btn.btn-black.border-radius-circle.btn-block.m-bottom-2(type='button', data-dismiss='modal') 發送信箱
            a(href='#', data-toggle='modal', data-target='#modal-login', data-dismiss='modal') 取消
            hr.m-top-4.m-bottom-4
            h5.m-bottom-4 還沒有帳號？
            a.btn.btn-line.border-radius-circle.btn-block(href='signup') 申請會員
          // /modal-body
        // /modal-content
      // /modal-dialog
    // /modal
    //
      Navbar
      ==================================================
    nav#header-control-panel.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='control-index-slider') i+Deal
          h4.navbar-text.pull-left control panel
        // /navbar-header
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right(aria-multiselectable='true')
            li
              a.text-center(href='index') 登出
            li
              a.text-center(href='control-password') 修改密碼
        // /navbar-collapse
      // /container
    // /navbar-fixed-top
    .container
      h1.text-black.m-top-10.m-bottom-6 填寫資料
      .border-block-3.m-bottom-10
        .row
          .col-md-9.border-right-1-desktop.desktop-p-right-0.min-height-600
            .p-40
              h2 購買人
              hr
              form.form-horizontal.m-bottom-10
                .form-group
                  label.col-sm-3.control-label
                    | 中文姓名
                    span.text-danger *
                  .col-sm-5
                    input.form-control(type='text', placeholder='請填寫本名')
                  .col-sm-4
                    label.checkbox-inline
                      input(type='checkbox', value='option1')
                      |  先生
                    label.checkbox-inline
                      input(type='checkbox', value='option2')
                      |  小姐
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 手機號碼
                    span.text-danger *
                  .col-sm-9
                    input.form-control(type='text', placeholder='請輸入正確號碼，以便出貨聯繫')
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 寄送地址
                    span.text-danger *
                  .col-sm-9
                    select.form-control.width-auto.inline-block
                      option 台北市
                      option 2
                      option 3
                      option 4
                      option 5
                    select.form-control.width-auto.inline-block
                      option 大安區
                      option 2
                      option 3
                      option 4
                      option 5
                    input.form-control.width-12.inline-block(type='text')
                  .col-sm-9.col-sm-offset-3.m-top-3
                    input.form-control(type='text')
                // /form-group
                .form-group
                  .col-sm-12
                    textarea.form-control(rows='6', placeholder='備註...')
                // /form-group
              // /form-horizontal
              label.checkbox-inline.m-top-2.m-left-0.p-left-0
                h2
                  | 我要送人
                  input.m-left-3.m-top-1(type='checkbox', value='showhide-sent')
              hr
              form.form-horizontal.m-bottom-10.showhide-sent(style='display:none')
                .form-group
                  label.col-sm-3.control-label
                    | 中文姓名
                    span.text-danger *
                  .col-sm-5
                    input.form-control(type='text', placeholder='請填寫本名')
                  .col-sm-4
                    label.checkbox-inline
                      input(type='checkbox', value='option1')
                      |  先生
                    label.checkbox-inline
                      input(type='checkbox', value='option2')
                      |  小姐
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 手機號碼
                    span.text-danger *
                  .col-sm-9
                    input.form-control(type='text', placeholder='請輸入正確號碼，訂單完成將寄送簡訊')
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 寄送地址
                    span.text-danger *
                  .col-sm-9
                    select.form-control.width-auto.inline-block
                      option 台北市
                      option 2
                      option 3
                      option 4
                      option 5
                    select.form-control.width-auto.inline-block
                      option 大安區
                      option 2
                      option 3
                      option 4
                      option 5
                    input.form-control.width-12.inline-block(type='text')
                  .col-sm-9.col-sm-offset-3.m-top-3
                    input.form-control(type='text')
                // /form-group
              // /form-horizontal
              h2 發票資訊
              hr
              form.form-horizontal.m-bottom-10
                .form-group
                  label.col-sm-3.control-label
                    | 發票收件人
                    span.text-danger *
                  .col-sm-9
                    label.checkbox-inline
                      input(type='checkbox', value='option1')
                      |  寄給購買人
                    label.checkbox-inline
                      input(type='checkbox', value='option2')
                      |  捐贈慈善機構
                      a(href='#', data-toggle='tooltip', title='發票將每月隨機捐給各慈善機構如：家扶基金會、中華社會福利聯合勸募協會等。')
                        span.glyphicon.glyphicon-info.m-left-1
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 發票類型
                    span.text-danger *
                  .col-sm-9
                    label.checkbox-inline
                      input(type='checkbox', value='option1')
                      |  二聯式發票
                    label.checkbox-inline
                      input(type='checkbox', value='showhide-invoice')
                      |  三聯式發票
                // /form-group
                .showhide-invoice(style='display: none')
                  .form-group
                    label.col-sm-3.control-label
                      | 公司抬頭
                      span.text-danger *
                    .col-sm-9
                      input.form-control(type='text', placeholder='請輸入公司抬頭')
                  // /form-group
                  .form-group
                    label.col-sm-3.control-label
                      | 統一編號
                      span.text-danger *
                    .col-sm-9
                      input.form-control(type='text', placeholder='請輸入統一編號')
                  // /form-group
                // /dvinvoice
              // /form-horizontal
            // /p-40
          // /col-md-9
          .col-md-3.desktop-p-left-0
            .p-20
              table.table.m-bottom-6
                tbody
                  tr
                    th 小計
                    td.text-right 3,240
                  tr
                    th 總折扣
                    td.text-right
                      span.text-danger -300
                  tr
                    th 運費
                    td.text-right 免運
                  tr
                    th 禮品包裝
                    td.text-right 120
                  tr
                    th 折扣碼
                    td.text-right
                      span.text-danger -30
                  tr
                    th 總計
                    td.text-right
                      h3.m-top-0 $2,940
              a.btn.btn-black.border-radius-circle.btn-block.m-bottom-2(href='cart-done') 送出訂單
              a.btn.btn-default.border-radius-circle.btn-block(href='cart') 回上一頁
            // /p-20
          // /col-md-3
        // /row
      // /border-block-3
    // /container
