extends ../_layout_head

block body
    .container
      h1.text-black.m-top-10.m-bottom-6 我的購物車
      .border-block-3.m-bottom-10.text-center.p-top-10.p-bottom-10
        span.glyphicon.glyphicon-shopping-cart.text-muted.font-size-xxxxlarge.m-bottom-4
        h1.m-bottom-4.text-muted 購物車空空呦！
        h4
          ins
            a(href='shop/products') 趕快來逛逛
          | 或是從
          ins
            a(href='member-fav') 收藏清單
          | 內查看！
      // /border-block-3 沒東西顯示這個
      .border-block-3.m-bottom-10
        .row
          .col-md-9.border-right-1-desktop.desktop-p-right-0.min-height-500
            .p-20.border-bottom-1
              .row.row-m
                .col-xs-4.col-sm-3.col-md-2
                  .item-block
                    a.item-like(href='#')
                      span.glyphicon.glyphicon-heart
                    // /item-like
                    a(href='shop-product')
                      img.img-full(src='images/demo/shop-item-5-1.jpg')
                  // /item-block
                // /col-xs-4
                .col-xs-8.col-sm-8.col-md-3.desktop-m-top-4.m-bottom-1.mobile-min-height-100
                  h6.text-muted.text-roboto.letter-spacing-1.m-bottom-1-min
                    a(href='brands') Le mouton noir & co
                  h5.text-roboto.letter-spacing-1.m-top-1-min
                    a(href='shop-product') B.B.bank / BB豬
                // /col-xs-8
                .col-xs-6.col-sm-3.col-md-2.desktop-p-left-0.desktop-m-top-5.m-bottom-2
                  .input-group.input-group-count.max-width-150
                    span.input-group-btn
                      button.btn.btn-default.btn-number.p-left-2.p-right-2(type='button', disabled='disabled', data-type='minus', data-field='quant[1]')
                        span.glyphicon.glyphicon-minus
                    // /input-group-btn
                    input.form-control.input-number.text-center.font-size-slarge(type='text', name='quant[1]', value='1', min='1', max='10')
                    span.input-group-btn
                      button.btn.btn-default.btn-number.p-left-2.p-right-2(type='button', data-type='plus', data-field='quant[1]')
                        span.glyphicon.glyphicon-plus
                    // /input-group-btn
                  // /input-group
                // /col-xs-6
                .col-xs-6.col-sm-3.col-md-2.desktop-p-right-0.desktop-text-center.desktop-m-top-5.m-bottom-2
                  .form-inline
                    .form-group.m-bottom-0
                      label 包裝
                      select.form-control.m-left-1.font-size-slarge
                        option 0
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                    // /form-group
                  // /form-inline
                // /col-xs-6
                .col-xs-6.col-sm-2.col-md-2.desktop-text-center.desktop-m-top-5.m-bottom-1
                  h4.m-top-0
                    | $1,400
                    br
                    small.text-line-through $3,000
                // /col-xs-6
                .col-xs-6.col-sm-1.col-md-1.text-right.desktop-m-top-5
                  a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                    span.glyphicon.glyphicon-remove
                // /col-xs-6
              // /row
            // /p-20
            .p-20.border-bottom-1
              .row.row-m
                .col-xs-4.col-sm-3.col-md-2
                  .item-block
                    a.item-like(href='#')
                      span.glyphicon.glyphicon-heart
                    // /item-like
                    a(href='shop-product')
                      img.img-full(src='images/demo/shop-item-6-1.jpg')
                  // /item-block
                // /col-xs-4
                .col-xs-8.col-sm-8.col-md-3.desktop-m-top-4.m-bottom-1.mobile-min-height-100
                  h6.text-muted.text-roboto.letter-spacing-1.m-bottom-1-min
                    a(href='brands') labrador
                  h5.text-roboto.letter-spacing-1.m-top-1-min
                    a(href='shop-product') softcase A5 麂皮文件袋
                // /col-xs-8
                .col-xs-6.col-sm-3.col-md-2.desktop-p-left-0.desktop-m-top-5.m-bottom-2
                  .input-group.input-group-count.max-width-150
                    span.input-group-btn
                      button.btn.btn-default.btn-number.p-left-2.p-right-2(type='button', disabled='disabled', data-type='minus', data-field='quant[1]')
                        span.glyphicon.glyphicon-minus
                    // /input-group-btn
                    input.form-control.input-number.text-center.font-size-slarge(type='text', name='quant[1]', value='1', min='1', max='10')
                    span.input-group-btn
                      button.btn.btn-default.btn-number.p-left-2.p-right-2(type='button', data-type='plus', data-field='quant[1]')
                        span.glyphicon.glyphicon-plus
                    // /input-group-btn
                  // /input-group
                // /col-xs-6
                .col-xs-6.col-sm-3.col-md-2.desktop-p-right-0.desktop-text-center.desktop-m-top-5.m-bottom-2
                  | 此商品不提供
                  br
                  | 包裝服務
                // /col-xs-6
                .col-xs-6.col-sm-2.col-md-2.desktop-text-center.desktop-m-top-5.m-bottom-1
                  h4.m-top-0 $1,400
                // /col-xs-6
                .col-xs-6.col-sm-1.col-md-1.text-right.desktop-m-top-5
                  a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                    span.glyphicon.glyphicon-remove
                // /col-xs-6
              // /row
            // /p-20
            .p-20
              h2.m-bottom-4 運送付款
              .row
                .col-sm-4
                  .form-group
                    label
                      | 運送方式
                      span.text-danger *
                    select.form-control
                      option 宅配 / 郵局
                  // /form-group
                // /col-sm-4
                .col-sm-4
                  .form-group
                    label
                      | 運送區域
                      span.text-danger *
                    select.form-control
                      option 請選擇
                      option 台灣 - 運費70元
                      option 離島 - 運費150元
                  // /form-group
                // /col-sm-4
                .col-sm-4
                  .form-group
                    label
                      | 付款方式
                      span.text-danger *
                    select.form-control
                      option 請選擇
                      option 信用卡
                      option ATM
                      option 超商付款
                  // /form-group
                // /col-sm-4
              // /row
            // /p-20
          // /col-md-9
          .col-md-3.desktop-p-left-0
            .p-20
              table.table.m-bottom-6
                tbody
                  tr
                    th 小計
                    td.text-right 3,240
                  tr
                    th 總折扣
                    td.text-right
                      span.text-danger -300
                  tr
                    th 運費
                    td.text-right 免運
                  tr
                    th 禮品包裝
                    td.text-right 120
                  tr
                    th 折扣碼
                    td.text-right
                      span.text-danger -30
                  tr
                    th 總計
                    td.text-right
                      h3.m-top-0 $2,940
              a.btn.btn-black.border-radius-circle.btn-block.m-bottom-2(href='/user/cart-step-2') 下一步、填寫資料
              a.btn.btn-link.btn-block.text-gray-light.m-bottom-6(href='/shop/products') 繼續購物
              .form-group
                label
                  a(href='#', data-toggle='tooltip', title='折扣代碼限單次消費折抵一次，如有餘額恕不退換現金。')
                    | 我有折扣代碼
                    span.glyphicon.glyphicon-info.m-left-1
                .input-group
                  input.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-black.p-left-2.p-right-2(type='button') OK
                // /input-group
              // /form-group
            // /p-20
          // /col-md-3
        // /row
      // /border-block-3 有東西顯示這個
      h2.text-black.m-bottom-6 購物滿額，即可以優惠價加購商品
      .border-block-3.m-bottom-10.p-20
        .row.row-l
          .col-md-4.col-sm-6
            .row.row-m.cart-add-product.cart-add-product-1
              .col-xs-6
                .item-block
                  a.item-like(href='#')
                    span.glyphicon.glyphicon-heart
                  // /item-like
                  a(href='shop-product')
                    img.img-full(src='images/demo/shop-item-24-1.jpg')
                // /item-block
              // /col-xs-6
              .col-xs-6
                h6.text-muted.text-roboto.letter-spacing-1
                  a(href='/brands') aRea+
                h5.h5-two-hide.m-bottom-2.text-roboto.letter-spacing-1
                  a(href='/shop/product') 喵喵神探-鑰匙圈喵喵神探-鑰匙圈喵喵神探-鑰匙圈
                select.form-control.m-bottom-2
                  option 選擇規格
                  option 2
                  option 3
                  option 4
                  option 5
                h4.text-green
                  | $1,400
                  small.text-line-through.m-left-1 $3,000
              // /col-xs-6
            // /row
          // /col-md-4
          .col-md-4.col-sm-6
            .row.row-m.cart-add-product.cart-add-product-2
              .col-xs-6
                .item-block
                  a.item-like(href='#')
                    span.glyphicon.glyphicon-heart
                  // /item-like
                  a(href='/shop/product')
                    img.img-full(src='images/demo/shop-item-24-1.jpg')
                // /item-block
              // /col-xs-6
              .col-xs-6
                h6.text-muted.text-roboto.letter-spacing-1
                  a(href='/brands') aRea+
                h5.h5-two-hide.m-bottom-2.text-roboto.letter-spacing-1
                  a(href='/shop/product') 喵喵神探-鑰匙圈喵喵神探-鑰匙圈喵喵神探-鑰匙圈
                select.form-control.m-bottom-2
                  option 選擇規格
                  option 2
                  option 3
                  option 4
                  option 5
                h4.text-green
                  | $1,400
                  small.text-line-through.m-left-1 $3,000
              // /col-xs-6
            // /row
          // /col-md-4
          .col-md-4.col-sm-6
            .row.row-m.cart-add-product.cart-add-product-3
              .col-xs-6
                .item-block
                  a.item-like(href='#')
                    span.glyphicon.glyphicon-heart
                  // /item-like
                  a(href='shop-product')
                    img.img-full(src='images/demo/shop-item-24-1.jpg')
                // /item-block
              // /col-xs-6
              .col-xs-6
                h6.text-muted.text-roboto.letter-spacing-1
                  a(href='/brands') aRea+
                h5.h5-two-hide.m-bottom-2.text-roboto.letter-spacing-1
                  a(href='/shop/product') 喵喵神探-鑰匙圈喵喵神探-鑰匙圈喵喵神探-鑰匙圈
                select.form-control.m-bottom-2
                  option 選擇規格
                  option 2
                  option 3
                  option 4
                  option 5
                h4.text-green
                  | $1,400
                  small.text-line-through.m-left-1 $3,000
              // /col-xs-6
            // /row
          // /col-md-4
          .col-md-4.col-sm-6
            .row.row-m.cart-add-product.cart-add-product-4
              .col-xs-6
                .item-block
                  a.item-like(href='#')
                    span.glyphicon.glyphicon-heart
                  // /item-like
                  a(href='/shop/product')
                    img.img-full(src='images/demo/shop-item-24-1.jpg')
                // /item-block
              // /col-xs-6
              .col-xs-6
                h6.text-muted.text-roboto.letter-spacing-1
                  a(href='/brands') aRea+
                h5.h5-two-hide.m-bottom-2.text-roboto.letter-spacing-1
                  a(href='/shop/product') 喵喵神探-鑰匙圈喵喵神探-鑰匙圈喵喵神探-鑰匙圈
                select.form-control.m-bottom-2
                  option 選擇規格
                  option 2
                  option 3
                  option 4
                  option 5
                h4.text-green
                  | $1,400
                  small.text-line-through.m-left-1 $3,000
              // /col-xs-6
            // /row
          // /col-md-4
          .col-md-4.col-sm-6
            .row.row-m.cart-add-product.cart-add-product-5
              .col-xs-6
                .item-block
                  a.item-like(href='#')
                    span.glyphicon.glyphicon-heart
                  // /item-like
                  a(href='shop-product')
                    img.img-full(src='images/demo/shop-item-24-1.jpg')
                // /item-block
              // /col-xs-6
              .col-xs-6
                h6.text-muted.text-roboto.letter-spacing-1
                  a(href='brands') aRea+
                h5.h5-two-hide.m-bottom-2.text-roboto.letter-spacing-1
                  a(href='shop-product') 喵喵神探-鑰匙圈喵喵神探-鑰匙圈喵喵神探-鑰匙圈
                select.form-control.m-bottom-2
                  option 選擇規格
                  option 2
                  option 3
                  option 4
                  option 5
                h4.text-green
                  | $1,400
                  small.text-line-through.m-left-1 $3,000
              // /col-xs-6
            // /row
          // /col-md-4
          .col-md-4.col-sm-6
            .row.row-m.cart-add-product.cart-add-product-6
              .col-xs-6
                .item-block
                  a.item-like(href='#')
                    span.glyphicon.glyphicon-heart
                  // /item-like
                  a(href='shop-product')
                    img.img-full(src='images/demo/shop-item-24-1.jpg')
                // /item-block
              // /col-xs-6
              .col-xs-6
                h6.text-muted.text-roboto.letter-spacing-1
                  a(href='/brands') aRea+
                h5.h5-two-hide.m-bottom-2.text-roboto.letter-spacing-1
                  a(href='/shop/product') 喵喵神探-鑰匙圈喵喵神探-鑰匙圈喵喵神探-鑰匙圈
                select.form-control.m-bottom-2
                  option 選擇規格
                  option 2
                  option 3
                  option 4
                  option 5
                h4.text-green
                  | $1,400
                  small.text-line-through.m-left-1 $3,000
              // /col-xs-6
            // /row
          // /col-md-4
        // /row
      // /border-block-3
    // /container
    //
      modal-delete
      ==================================================
    #modal-delete.modal.fade
      .modal-dialog(role='document')
        .modal-content.font-size-slarge
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h2.modal-title 刪除
          // /modal-header
          .modal-body.p-30.p-top-0
            p 您確定要將此 XXXXXXX 刪除？
            p 您確定要將此 XXXXXXX 移出此折扣活動？
          // /modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 取消
            button.btn.btn-green(type='button', data-dismiss='modal') 確定
          // /modal-footer
        // /modal-content
      // /modal-dialog
    // /modal
