extends ../_layout_head

block body

    .container.text-center
      .row.m-top-10.m-bottom-10
        .col-md-8.col-md-offset-2
          .border-block-3.p-40.m-bottom-8
            h4.line-height-large
              | 感謝購買，請盡快至超商付款
              br
              |           您的訂單編號為 W20150528001
              br
              |           完成繳費手續後將立即為您處理訂單
          // /border-block-3
          a.btn.btn-default(href='/shop/products') 繼續購物
        // /col-md-8
      // /row
    // /container
