extends ../_layout_head

block body
    .container
      .m-top-6.m-bottom-10
        .row.m-bottom-4
          .col-md-6
            p.font-size-slarge.line-height-xlarge.m-bottom-4 會員帳號：email@example.com
          // /col-md-6
          .col-md-6.desktop-text-right
            ul.list-inline
              li
                a.btn.btn-default.border-radius-circle.active(href='member-fav') 我的收藏
              li
                a.btn.btn-default.border-radius-circle(href='member-purchase') 我的訂單記錄
              li
                a.btn.btn-default.border-radius-circle(href='member-setting') 修改會員資料
          // /col-md-6
        // /row
        .m-bottom-6
          .btn-group
            button.btn.btn-default.border-radius-circle.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              span.glyphicon.glyphicon-list.m-right-1
              | 預設排序
            ul.dropdown-menu.m-top-2.p-top-2.p-bottom-2
              li
                a(href='#')
                  | 受關注度優先
                  span.glyphicon.glyphicon-chevron-thin-right.m-left-1
              li
                a(href='#')
                  | 熱門收藏優先
                  span.glyphicon.glyphicon-chevron-thin-right.m-left-1
              li
                a(href='#')
                  | 最新上架優先
                  span.glyphicon.glyphicon-chevron-thin-right.m-left-1
              li
                a(href='#')
                  | 價格由高至低
                  span.glyphicon.glyphicon-chevron-thin-right.m-left-1
              li
                a(href='#')
                  | 價格由低至高
                  span.glyphicon.glyphicon-chevron-thin-right.m-left-1
            // /dropdown-menu
          // /btn-group
        // /m-bottom-6
        .row.row-m.m-bottom-6
          .col-md-2.col-sm-3.col-xs-6
            .fav-item-block.m-bottom-4
              a.fav-item-move(href='#')
                span.glyphicon.glyphicon-remove-circle
              a.fav-item-cart.add-to-cart(href='#')
                span.glyphicon.glyphicon-shopping-cart
              a(href='shop-product')
                img.img-full(src='images/demo/shop-item-1-1.jpg')
              .item-text-block.m-top-2.m-bottom-6
                h6.text-muted
                  a(href='brands.html') Jansen+co
                h4.m-bottom-2.h4-max-two-hide
                  a(href='shop-product') B.B.billosaur
                h5 $2,500
              // /item-text-block
            // /fav-item-block
          // /col-md-2
          .col-md-2.col-sm-3.col-xs-6
            .fav-item-block.m-bottom-4
              a.fav-item-move(href='#')
                span.glyphicon.glyphicon-remove-circle
              a.fav-item-cart.add-to-cart(href='#')
                span.glyphicon.glyphicon-shopping-cart
              a(href='shop-product')
                img.img-full(src='images/demo/shop-item-2-1.jpg')
              .item-text-block.m-top-2.m-bottom-6
                h6.text-muted
                  a(href='brands.html') Jansen+co
                h4.m-bottom-2.h4-max-two-hide
                  a(href='shop-product') Mini Duo Sparrow 迷你雀兒愛巢
                h5
                  | $2,500
                  small.text-danger.m-left-1 已售完！
              // /item-text-block
            // /fav-item-block
          // /col-md-2
          .col-md-2.col-sm-3.col-xs-6
            .fav-item-block.m-bottom-4
              a.fav-item-move(href='#')
                span.glyphicon.glyphicon-remove-circle
              a.fav-item-cart.add-to-cart(href='#')
                span.glyphicon.glyphicon-shopping-cart
              a(href='shop-product')
                img.img-full(src='images/demo/shop-item-3-1.jpg')
              .item-text-block.m-top-2.m-bottom-6
                h6.text-muted
                  a(href='brands.html') Jansen+co
                h4.m-bottom-2.h4-max-two-hide
                  a(href='shop-product') ABC 樂彩杯
                h5
                  span.text-danger $2,500
                  small.text-line-through.m-left-1 $3,000
              // /item-text-block
            // /fav-item-block
          // /col-md-2
          .col-md-2.col-sm-3.col-xs-6
            .fav-item-block.m-bottom-4
              a.fav-item-move(href='#')
                span.glyphicon.glyphicon-remove-circle
              a.fav-item-cart.add-to-cart(href='#')
                span.glyphicon.glyphicon-shopping-cart
              a(href='shop-product')
                img.img-full(src='images/demo/shop-item-4-1.jpg')
              .item-text-block.m-top-2.m-bottom-6
                h6.text-muted
                  a(href='brands.html') Jansen+co
                h4.m-bottom-2.h4-max-two-hide
                  a(href='shop-product') B.B.billosaur
                h5 $2,500
              // /item-text-block
            // /fav-item-block
          // /col-md-2
          .col-md-2.col-sm-3.col-xs-6
            .fav-item-block.m-bottom-4
              a.fav-item-move(href='#')
                span.glyphicon.glyphicon-remove-circle
              a.fav-item-cart.add-to-cart(href='#')
                span.glyphicon.glyphicon-shopping-cart
              a(href='shop-product')
                img.img-full(src='images/demo/shop-item-5-1.jpg')
              .item-text-block.m-top-2.m-bottom-6
                h6.text-muted
                  a(href='brands.html') Jansen+co
                h4.m-bottom-2.h4-max-two-hide
                  a(href='shop-product') B.B.billosaur
                h5 $2,500
              // /item-text-block
            // /fav-item-block
          // /col-md-2
          .col-md-2.col-sm-3.col-xs-6
            .fav-item-block.m-bottom-4
              a.fav-item-move(href='#')
                span.glyphicon.glyphicon-remove-circle
              a.fav-item-cart.add-to-cart(href='#')
                span.glyphicon.glyphicon-shopping-cart
              a(href='shop-product')
                img.img-full(src='images/demo/shop-item-6-1.jpg')
              .item-text-block.m-top-2.m-bottom-6
                h6.text-muted
                  a(href='brands.html') Jansen+co
                h4.m-bottom-2.h4-max-two-hide
                  a(href='shop-product') B.B.billosaur
                h5 $2,500
              // /item-text-block
            // /fav-item-block
          // /col-md-2
          .col-md-2.col-sm-3.col-xs-6
            .fav-item-block.m-bottom-4
              a.fav-item-move(href='#')
                span.glyphicon.glyphicon-remove-circle
              a.fav-item-cart.add-to-cart(href='#')
                span.glyphicon.glyphicon-shopping-cart
              a(href='shop-product')
                img.img-full(src='images/demo/shop-item-7-1.jpg')
              .item-text-block.m-top-2.m-bottom-6
                h6.text-muted
                  a(href='brands.html') Jansen+co
                h4.m-bottom-2.h4-max-two-hide
                  a(href='shop-product') B.B.billosaur
                h5 $2,500
              // /item-text-block
            // /fav-item-block
          // /col-md-2
          .col-md-2.col-sm-3.col-xs-6
            .fav-item-block.m-bottom-4
              a.fav-item-move(href='#')
                span.glyphicon.glyphicon-remove-circle
              a.fav-item-cart.add-to-cart(href='#')
                span.glyphicon.glyphicon-shopping-cart
              a(href='shop-product')
                img.img-full(src='images/demo/shop-item-8-1.jpg')
              .item-text-block.m-top-2.m-bottom-6
                h6.text-muted
                  a(href='brands.html') Jansen+co
                h4.m-bottom-2.h4-max-two-hide
                  a(href='shop-product') B.B.billosaur
                h5 $2,500
              // /item-text-block
            // /fav-item-block
          // /col-md-2
        // /row
        .text-center.m-bottom-8
          //
            pagination-block
            ==================================================
          nav
            ul.pagination
              li
                a(href='#', aria-label='Previous')
                  span(aria-hidden='true') «
              li.active
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#', aria-label='Next')
                  span(aria-hidden='true') »
        // /text-center
      // /m-top-6 m-bottom-10
    // /container
