//
// Carousel
// --------------------------------------------------


// Wrapper for the slide container and indicators
.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;

  > .item {
    display: none;
    position: relative;
    @include transition(.6s ease-in-out left);

    // Account for jankitude on images
    > img,
    > a > img {
      @include img-responsive;
      line-height: 1;
    }

    // WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      @include transition-transform(0.6s ease-in-out);
      @include backface-visibility(hidden);
      @include perspective(1000);

      &.next,
      &.active.right {
        @include translate3d(100%, 0, 0);
        left: 0;
      }
      &.prev,
      &.active.left {
        @include translate3d(-100%, 0, 0);
        left: 0;
      }
      &.next.left,
      &.prev.right,
      &.active {
        @include translate3d(0, 0, 0);
        left: 0;
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

  &.carousel-inner-v {
    overflow: visible;
    > .item {
      display: block;
      position: absolute;
      @include opacity(0);
      @include transition(opacity .6s ease-in-out);

      @media all and (transform-3d), (-webkit-transform-3d) {
        &.next,
        &.active.right {
          @include translate3d(0, 0, 0);
          left: 0;
        }
        &.prev,
        &.active.left {
          @include translate3d(0, 0, 0);
          left: 0;
        }
        &.next.left,
        &.prev.right,
        &.active {
          @include translate3d(0, 0, 0);
          left: 0;
        }
      }
    }
    > .active {
      @include opacity(1);
    }
  }
}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 0;
  left: -15%;
  bottom: 0;
  width: $carousel-control-width;
  @include opacity($carousel-control-opacity);
  font-size: $carousel-control-font-size;
  color: $carousel-control-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  @include transition(all .3s linear);
  display: none;
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Set gradients for backgrounds
  &.left {

  }
  &.right {
    left: auto;
    right: -15%;

  }

  // Hover/focus state
  &:hover,
  &:focus {
    outline: 0;
    color: $carousel-control-color;
    text-decoration: none;
    @include opacity(.9);
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-thin-left,
  .glyphicon-chevron-thin-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
  }
  .icon-prev,
  .glyphicon-chevron-thin-left {
    left: 50%;
    margin-left: -10px;
  }
  .icon-next,
  .glyphicon-chevron-thin-right {
    right: 50%;
    margin-right: -10px;
  }
  .icon-prev,
  .icon-next {
    width:  20px;
    height: 20px;
    margin-top: -10px;
    line-height: 1;
    font-family: serif;
  }


  .icon-prev {
    &:before {
      content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }
  .icon-next {
    &:before {
      content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}
.carousel {
  &:hover,
  &:focus {
    .carousel-control {
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px 3px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: $gray-lighter; // IE9
  }
  .active {
    width:  10px;
    height: 10px;
    background-color: $carousel-indicator-active-bg;
  }
  &.carousel-indicators-v {
    width: auto;
    height: auto;
    left: auto;
    right: 10px;
    top: 50%;
    bottom: auto;
    margin: 0;
    @include translate(0,-50%);
    li {
      display: block;
      margin: 8px 5px;
    }
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 15px;
  color: $carousel-caption-color;
  text-align: left;
  text-shadow: $carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
  h1 { font-size: 30px; color: #fff; }
  p { font-size: 15px; }
  &.caption-top { top: 0; bottom: auto; }
  &.caption-middle { top: 50%; bottom: auto; @include translate(0,-50%); }
  &.caption-bottom { top: auto; bottom: 0; }
  &.caption-left { text-align: left; }
  &.caption-center { text-align: center; }
  &.caption-right { text-align: right; }
  @media (min-width: $screen-sm-min) {
    h1 { font-size: 46px; letter-spacing: 1px; }
    p { font-size: 28px; letter-spacing: 1px; }
  }
}


// Scale up controls for tablets and up
@media screen and (min-width: $screen-sm-min) {
  .carousel-control {
    display: block;
    .glyphicon-chevron-thin-left,
    .glyphicon-chevron-thin-right,
    .icon-prev,
    .icon-next {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      font-size: 40px;
    }
    .glyphicon-chevron-thin-left,
    .icon-prev {
      margin-left: -20px;
    }
    .glyphicon-chevron-thin-right,
    .icon-next {
      margin-right: -20px;
    }
  }
  // Show and left align the captions
  .carousel-caption {
    padding: 50px 50px;
    width: $container-sm;
    left: 50%;
    margin-left: -($container-sm/2);
    @include opacity(0);
    @include transition(transform 0.5s, opacity 0.5s);
    @include transition-delay(0.3s);
    &.caption-left {
      @include translate(80px,0);
      &.caption-middle {
        @include translate(80px,-50%);
      }
    }
    &.caption-right {
      @include translate(-80px,0);
      &.caption-middle {
        @include translate(-80px,-50%);
      }
    }
  }
  .item.active {
    .carousel-caption {
      @include opacity(1);
        &.caption-left {
        @include translate(0,0);
        &.caption-middle {
          @include translate(0,-50%);
        }
      }
      &.caption-right {
        @include translate(0,0);
        &.caption-middle {
          @include translate(0,-50%);
        }
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  .carousel-caption {
    padding: 60px 20px;
    width: $container-md;
    margin-left: -($container-md/2);
  }
  .carousel-control {
    width: 80px;
  }
}
@media (min-width: $screen-lg-min) {
  .carousel-caption {
    padding: 70px 15px;
    width: $container-lg;
    margin-left: -($container-lg/2);
  }
  .carousel-control {
    width: 100px;
  }
}
/* carousel-shop-product */
#carousel-shop-product {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: 100%;
}