.footer.text-center
    .container
        .border-top-1.border-bottom-1.p-top-9.p-bottom-9
          ul.list-inline.list-inline-lg.m-bottom-0
            li
              a(href='about.html')
                span.text-en ABOUT
                |             
                span.text-active 關於我們
            |         
            li
              a(href='contact.html')
                span.text-en CONTACT
                |             
                span.text-active 聯絡我們
            |         
            li
              a(href='qa.html')
                span.text-en Q&A
                |             
                span.text-active 常見問題
        // /text-center
        .row.p-top-9.p-bottom-9
          .col-md-4.m-bottom-2
            ul.list-inline.list-social.m-bottom-0
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-fb
                    span.glyphicon.glyphicon-fb
              |           
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-ig
                    span.glyphicon.glyphicon-ig
              |           
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-line
                    span.glyphicon.glyphicon-line
              |           
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-youtube
                    span.glyphicon.glyphicon-youtube
            // /list-social
          // /col-md-4
          .col-md-8.font-size-small
            ul.list-inline.m-bottom-0.m-top-1
              li © WEVO INTERNATIONAL CO.,LTD.
              |           
              li.border-right-1
                a(href='#') 使用條款
              |           
              li.border-right-1
                a(href='#') 隱私權政策
              |           
              li
                a(href='#') 免責聲明
          // /col-md-8
        // /row
      // /container
