// Javascripts
script(src='http://code.jquery.com/jquery-1.9.1.js')
script(src='javascripts/scrolltotop.js')
// /scrolltotop
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='javascripts/bootstrap.js')
// /bootstrap
script(src='javascripts/jasny-bootstrap.js')
// /jasny-bootstrap
script(src='javascripts/classie.js')
script(src='javascripts/uisearch.js')
script.
  new UISearch( document.getElementById( 'sb-search' ) );
// /sb-search
script(src='javascripts/input-number.js')
// /input-number
script(src='javascripts/tagsinput.js')
script(src='javascripts/tagsinput-angular.js')
// /tagsinput
script(src='javascripts/cbpAnimatedHeader.js')
// /cbpAnimatedHeader
script(type='text/javascript', src='javascripts/notifyme.js')
script(type='text/javascript').
  $(document).ready(function(){
  $('.add-to-cart').on('click', function(){
  $(this).notifyMe(
  'top',
  'cart',
  '<span class="glyphicon glyphicon-ok-circle m-right-2"></span>已加入購物車',
  '',
  300,
  1500
  );
  });
  });
// /notifyme
script(src='javascripts/cbpScroller.js')
script.
  new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
// /cbpScroller
script(type='text/javascript').
  $(document).ready(function(){
  $('input[type="checkbox"]').click(function(){
  if($(this).attr("value")=="showhide-sent"){
  $(".showhide-sent").toggle();
  }
  if($(this).attr("value")=="showhide-invoice"){
  $(".showhide-invoice").toggle();
  }
  });
  });
script(type='text/javascript').
  $(window).load(function() {
  $(".loader").fadeOut("slow");
  })
  $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
  });
script(type='text/javascript').
  function sticky_relocate() {
  var window_top = $(window).scrollTop();
  var div_top = $('#sticky-anchor').offset().top - $(window).width() /2;
  if (window_top > div_top) {
  $('#sticky').addClass('stick');
  } else {
  $('#sticky').removeClass('stick');
  }
  }
  $(function () {
  $(window).scroll(sticky_relocate);
  sticky_relocate();
  });
