.footer.text-center
    .container
        .border-top-1.border-bottom-1.p-top-9.p-bottom-9
          ul.list-inline.list-inline-lg.m-bottom-0
            li
              a(href='about.html')
                span.text-en ABOUT
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x95DC;&#x65BC;&#x6211;&#x5011;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='contact.html')
                span.text-en CONTACT
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x806F;&#x7D61;&#x6211;&#x5011;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='qa.html')
                span.text-en Q&amp;A
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.text-active &#x5E38;&#x898B;&#x554F;&#x984C;
        // /text-center
        .row.p-top-9.p-bottom-9
          .col-md-4.m-bottom-2
            ul.list-inline.list-social.m-bottom-0
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-fb
                    span.glyphicon.glyphicon-fb
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-ig
                    span.glyphicon.glyphicon-ig
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-line
                    span.glyphicon.glyphicon-line
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#', target='_blank')
                  span.label.label-social.label-youtube
                    span.glyphicon.glyphicon-youtube
            // /list-social
          // /col-md-4
          .col-md-8.font-size-small
            ul.list-inline.m-bottom-0.m-top-1
              li &copy; 2008-2015 I+DEAL. ALL RIGHTS RESERVED.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.border-right-1
                a(href='#') &#x4F7F;&#x7528;&#x689D;&#x6B3E;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.border-right-1
                a(href='#') &#x96B1;&#x79C1;&#x6B0A;&#x653F;&#x7B56;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') &#x514D;&#x8CAC;&#x8072;&#x660E;
          // /col-md-8
        // /row
      // /container
